[2020-05-04 16:00] ustiugov opened #3 "Milestone: Containerd support for Firecracker snapshots"
Need to extend:

- [ ] fccd-orchestrator (main), ctriface modules
- [ ] containerd per-VM shim agent
- [ ] anything else?

[2020-05-04 16:07] ustiugov opened #4 "Project: Study queuing & microarchitectural implications of multi-tenancy"

[2020-05-04 16:10] ustiugov opened #5 "Project: Elastic Serverless stateful services"

[2020-06-17 15:09] ustiugov opened #11 "function ID is a string but the bulk of the code works with its integer representation"
Originally, function ID was a string but right now the bulk of the code works with an integer version of the function ID. Should we refactor the code to require the function ID to be integer?

https://github.com/ustiugov/fccd-orchestrator/blob/86ddb873b391c7dea29ce989a361ab9362b7774d/functions.go#L93

[2020-06-18 20:52] ustiugov opened #12 "TestSaveMemory* tests fail due to a potential deadlock"
[code]

[2020-06-23 08:11] ustiugov opened #13 "Give up system resources upon panic"
Tap and bridges should be freed if the orchestrator explicitly panics.

[2020-06-24 17:44] ustiugov opened #14 "Refactoring: Make taps creation/deletion on-demand"
As of now, taps are created as a pool that allows their reuse. We should create a tap upon VM start/snapshotLoad with a unique ID that refers to the ID of the VM.
Note: the VM that was loaded from the snapshot assumes that the tap that is given to it has the **same exact** name.

[2020-07-06 15:59] ustiugov opened #15 "Task.Delete returns error for some functions"
Happens for  the following functions:
[code]

[code]

To reproduce the error, uncomment these functions in the test's code and run: ```sudo `which go` test -v -race -run TestAllFunctions```

[2020-07-07 14:57] plamenmpetrov opened #18 "Load/Offload Serve chain does not work."
We are considering three chains. Two of them work, while one does not work. The chains are as follows:

Broken:
(1) createVM > **serve_1** > pause > createSnapshot("snapshot_id") > offload > loadSnapshot("snapshot_id") > resume > **serve_2** > offload > loadSnapshot("snapshot_id") > resume > **serve_3**

Working:
(2) createVM > **serve_1** > pause > createSnapshot("snapshot_id") > offload > loadSn

[2020-07-07 15:43] plamenmpetrov opened #19 "StopSingleVM (stripped down) does not work"
We are implementing the following workflow, where our goal is to shut down a VM which has been loaded from a snapshot.

`StopSingleVM` in `ctriface/iface.go` is called when the VM instance needs to be shut down cleanly, when it is not loaded from a snapshot. It has the following workflow:
1. Kill the task.
2. Delete the task
3. Delete the container
4. Stop the VM by calling firecracker-containerd

[2020-07-08 12:49] ustiugov opened #20 "Add PullImage function to ctriface"
We need a method that could be used with ctriface API. The StartVM method should use that function as well as well

[2020-07-14 16:22] #14 closed, assigned to plamenmpetrov

[2020-07-14 22:08] ustiugov opened #25 "Data race in stats"
Race condition detected when running TestParallelLoadServe. This is due to the atomic variable in stats.

[code]

[2020-07-15 07:22] #18 closed, assigned to nobody

[2020-07-15 15:16] #12 closed, assigned to plamenmpetrov

[2020-07-31 09:55] ustiugov opened #28 "Run VMs in a memory-constrained cgroup"
To evaluate cold-starts at the scale of 100s of VMs, we need to have containerd to load the VMs inside a single cgroup.

My intuition for the implementation:
* Create a cgroup from the orchestrator upon its start. Need an orch CLI argument for that
* Add Firecracker processes to that cgroup (the cgroup's name can be hardcoded). Need another argument in LoadSnap function.

Library to use: [link](ht

[2020-07-31 16:21] ustiugov opened #30 "TestServeThree finishes before orchestrator removes the taps"
Workaround added to the test.

[2020-08-05 22:24] #20 closed, assigned to plamenmpetrov

[2020-08-06 13:45] ustiugov opened #33 "Snapshot create/load sporadically fail under load"
So far I reproduced two problems:

- [x]  Snapshot creation timeout:
[code]
**Solution**: increase timeout to 1 minute

- [ ]  Snapshot load failure
[code]
fc log:
[code]
**Solution**: delete and create a tap as soon as containerd's Offload completes. Revisit if 300ms Sleep workaround is still needed.

To reproduce, run TestParallelSnapLoad with numParallel=200

[2020-08-06 21:01] ustiugov opened #35 "Data race when reading uPF file descriptor and closing it"
Test TestSnapLoadMultiple in branch vm_memory_manager.

Read happens [here](https://github.com/ustiugov/fccd-orchestrator/blob/80dcd659301f02bb89c111b92739a105779a4054/memory/manager/snapshot_state.go#L165)

Write happens [here](https://github.com/ustiugov/fccd-orchestrator/blob/80dcd659301f02bb89c111b92739a105779a4054/memory/manager/manager.go#L194)

**Temporary workaround:** don't close the desc

[2020-08-07 02:07] #35 closed, assigned to nobody

[2020-08-07 11:12] ustiugov opened #36 "Memory Manager tests from different processes"
Currently, the memory manager tests are written so that uPFs are generated by goroutines within the orchestrator process. We should do that out-of-process to mimic the behavior of VMs.

Note that currently these tests are **commented/disabled** because the poller goroutines hang in the read syscall after serving all page faults.

[2020-08-10 11:07] ustiugov opened #41 "isUPFEnabled not defined in manual_cleanup_test.go"
it is defined in `ctriface/iface.go`

[2020-08-10 16:51] #25 closed, assigned to nobody

[2020-09-07 09:56] #33 closed, assigned to plamenmpetrov

[2020-09-14 13:52] plamenmpetrov opened #48 "StartVM latency breakdown is not extracted in the top module"
StartVM breakdown is measured in the `TestBenchmarkStart`  benchmark in ctriface. However, the same breakdown is not extracted in the top module and it is not reported in any of the tests.

[2020-11-19 19:14] ustiugov opened #56 "Remove fake user container"
* Set up KNative from a fork
* Change queue-proxy container to connect to a custom IP

[2020-11-19 20:57] ustiugov opened #57 "Integrate vhive-bench with vhive"
Need to support gRPC with helloworld protobuf

Input is a file with URLs

[2020-11-19 20:58] ustiugov opened #58 "Finalize cri integration"
PR #51

[2020-11-20 09:51] plamenmpetrov opened #59 "Remove parallel tests from travis"
The parallel tests are problematic in travis because of the limited resources in the travis VM. For example, starting 5 VMs in parallel is extremely slow and breaks the build often. We should leave the serial tests which verify only the functionality and leave out the parallel ones for testing on-premises with better hardware.

[2020-11-20 12:54] ustiugov opened #60 "CRI testing in travis: istio installation fails in travis"
[code]

[Related issue](https://github.com/istio/istio/issues/22677)

[2020-11-20 16:08] #58 closed, assigned to plamenmpetrov

[2020-11-20 16:20] ustiugov opened #61 "Snapshot and REAP support in vHive (cri)"

[2020-11-23 21:44] #3 closed, assigned to ustiugov

[2020-11-23 21:45] #4 closed, assigned to ustiugov

[2020-11-23 21:45] #5 closed, assigned to ustiugov

[2020-11-24 19:10] plamenmpetrov opened #64 "Fail to load VM from Snapshot upon Knative invocation"
Occasionally VMs fail to be loaded from a snapshot as part of a Knative invocation.

Steps to reproduce:
1. Deploy a function
2. Wait for function to be scaled down to 0. During this process the associated VM gets Offloaded.
3. Invoke function

From the Knative side, the error is not observed because Knative automatically spawns/loads another VM if there is a failure.
The error can be observed fro

[2020-11-26 17:18] ustiugov commented on #61
closed by #63

[2020-11-26 17:18] #61 closed

[2020-11-30 13:30] plamenmpetrov opened #68 "Placeholder User Container For CRI Operations"
The queue-proxy container interacts directly with the user workload Firecracker-Containerd container. However, we create a stub lightweight user container still so that CRI Operations such as ContainerStatus, ListContainers do not require additional support. Once firecracker-containerd supports there call, we can decommission the stub.

[2020-11-30 23:17] #56 closed

[2020-11-30 23:17] #57 closed

[2020-11-30 23:18] #60 closed

[2020-12-13 12:11] ustiugov opened #75 "Add tests for docker images build"
Dockerfiles may become stale, for example, due to Python modules incompatibility. We need to test these daily as a cron job.

I think that we should add same tests for Knative docker containers as well.

[2020-12-16 07:19] ustiugov opened #77 "Enable GitHub actions dependabot"
This automation allows to keep the project's dependencies up to date.

https://dependabot.com/github-actions/

[2020-12-20 12:13] ustiugov opened #79 "Re-write the Makefiles in Golang"
Makefiles have become extremely complex. We need to rewrite them in Go.

[2021-01-05 16:09] ustiugov opened #80 "CI enhancements"
Need to add:

- [x] Markdown linter in CI, like [here](https://github.com/firecracker-microvm/firecracker/pull/2399)
- [ ] Git commit message linter in CI, e.g., [this one](https://github.com/conventional-changelog/commitlint/tree/master/%40commitlint/config-conventional)
- [ ] Fix the format problems, shown by [goreport](https://goreportcard.com/report/github.com/ease-lab/vhive) (the "gocyclo" wa

[2021-01-05 16:14] ustiugov opened #81 "Change restored VM clones networking according to Firecracker guidelines"
We designed our tap management assuming that taps need to be re-created upon restoring a VM from a snapshot. This disallows restoring more than a single VM per snapshot per host.

Firecracker released detailed guidelines that advocate for using different namespaces for restored VM clones that allow keeping the same tap and virtual IP for all the clones.

[Firecracker guidelines on guest networking

[2021-01-05 16:30] ustiugov opened #82 "Create snapshot should close vsock connections"
Right now, containerd client loses its vsock connection with snapshotting. This issue is confirmed by the Firecracker team that recommended to close vsock connections before snapshotting. This change is likely to land in Firecracker Go SDK.

[Source](https://github.com/firecracker-microvm/firecracker/blob/master/docs/snapshotting/snapshot-support.md#vsock-device-limitations)

[2021-01-08 08:17] shyamjesal opened #86 "Minio scripts require extra support from the ctriface module"
Minio scripts in ./function images require extra support form the ctriface module in order to successfully build docker images.

[2021-01-11 20:58] ustiugov opened #89 "Set up local image registry"
To speed up testing and deployment, it would make sense to deploy a local registry on each worker node in a k8s cluster

[how-to](https://docs.docker.com/registry/deploying)

[2021-01-15 17:16] ustiugov opened #94 "[Knative/k8s] Istio setup problem"
Istio fails to set up in a 3-node cluster on CloudLab (2-node setup works).

An exempt log from `setup_multinode_cluster.sh`:
[code]

The root cause for this seems to be in calico setup (stock containerd log):
[code]

This is a high-priority problem that needs further investigation.

Might be related [issue](https://github.com/projectcalico/calico/issues/1795).

[2021-01-15 17:17] ustiugov commented on #94
@plamenmpetrov could you please post relevant pointers if you have any from before?

[2021-01-15 17:28] #75 closed

[2021-01-18 13:55] ustiugov opened #96 "Add a script that rebuilds the dependencies' binaries"
Need to have a script that rebuilds binaries that are stored in the `bin/` folder.

[2021-01-18 14:03] ustiugov opened #97 "Deploy self-hosted runners in Docker containers"
- [x] Have a single script that sets the devmapper on the host (once per host).
- [x] Adopt firecracker-containerd's Dockerfile (aka base) from upstream but change the installation of the binaries
- [x] Have a Dockerfile atop of the base image that would deploy a runner.

[2021-01-18 14:13] ustiugov opened #98 "Add a different runner type for CRI testing in CI"

[2021-01-18 14:34] ustiugov commented on #80
Also: need to make sure that our CI finds out formatting issues like those:
![image](https://user-images.githubusercontent.com/15651770/104928108-2bd2c100-599a-11eb-8c39-a6af819e0b14.png)

Generated by [go-report](https://goreportcard.com/report/github.com/ease-lab/vhive)

[2021-01-23 21:39] ustiugov opened #102 "Ctriface should not fail when process is not found upon Offload"
This firecracker-containerd error can be safely ignored. This fix would improve CI stability.

Logs:
[code]

[2021-01-31 15:19] #97 closed

[2021-02-15 14:13] shyamjesal opened #121 "Sporadic failures in CRI test container."
Knative function deployment times out sometimes.
Test the runner for simultaneous tests inside a single machine.

[2021-02-17 00:14] ustiugov commented on #77
done

[2021-02-17 00:14] #77 closed

[2021-02-17 00:15] ustiugov commented on #98
merged

[2021-02-17 00:15] #98 closed

[2021-02-17 06:16] #94 closed

[2021-02-17 17:02] #80 closed

[2021-02-18 14:03] shyamjesal opened #126 "Function deployment fails in multi node kind clusters"
Setup:
1 master node
2 worker nodes
Image used: vhiveease/vhive_dev_env
Error:
Knative function containers fail to boot. Status loops between [Error, CrashLoopBackOff, Terminating].
Error log:
[code]

[2021-02-23 17:44] ustiugov opened #146 "Add an experiment-ready CloudLab profile"
Add a CloudLab profile that sets up the vHive cluster and clones the vhive-bench tool

[2021-02-25 20:07] ustiugov opened #151 "Need a script to restart a vHive cluster (single node)"
We need a script that can clean and restart a cluster in one push button.

Existing solution:
[code]

There are errors when trying that on CloudLab:
[code]

Workaround:
[code]

[2021-02-26 19:56] ustiugov commented on #146
done

[2021-02-26 19:56] #146 closed

[2021-03-02 13:08] shyamjesal opened #156 "Fail test module when taps manager fails"
[code]

[2021-03-04 08:19] amohoste opened #158 "Google Compute Engine setup issues"
I tried to deploy vHive on Google Compute Engine instead of bare metal but ran into some errors which are most likely network related. The setup included one master noted and two worker nodes, but I also ran into the same issues when using only one worker node. The setup includes 3 Ubuntu 18.04 VMs with nested virtualisation enabled on `10.240.0.0/24`. Each node was allocated 2 vCPUs, 8GB RAM, 50G

[2021-03-04 10:40] ustiugov commented on #158
@amohoste thanks for reporting this issue. From the logs, I can see only the failure of pulling an Docker image for rnn_serving function. This may happen when storage is somewhat slow because its image size is rather big.

We have previously tested running vHive in a single VM (but not in a public cloud) so it should work. I suggest you start by deploying a single-node vHive cluster in a VM. Here

[2021-03-04 19:24] amohoste commented on #158
I tried running only the hello world example as instructed. On the first invocation, everything seems to work fine and the csv file gets populated with the latencies:

[code]

However, on the second invocation none of the requests complete anymore resulting in the CSV file being empty.

[code]

[fc-ctrd.log](https://github.com/ease-lab/vhive/files/6086106/fc-ctrd.log)
[ctrd.log](https://github.com

[2021-03-04 21:07] ustiugov commented on #158
@amohoste I think that the issue that you observe is not really a problem. The thing is that the invoker runs only for 5 second by default so probably the instances fail to reply by the time the invoker finishes. This is attributable to the fact that by default instances are booted from scratch (not from a snapshot) that takes roughly 3 sec on average. By default, the deployer client deploys funct

[2021-03-05 09:59] ustiugov commented on #158
@amohoste Please let us know if the multi-node setup works.

[2021-03-05 13:19] amohoste commented on #158
Setting a longer invoker time indeed seems to resolve the issue for a single node. Thanks for the help. For the multimode setup everything seems to work fine when only running the hello world example:

[code]

However, when running the default functions.json which also contains rnn-serving and pyaes I encountered some errors:

[code]

[master-ctrd.log](https://github.com/ease-lab/vhive/files/60906

[2021-03-05 13:26] ustiugov commented on #158
@amohoste it seems that our timeouts are too shot. Could you please specify the bandwidth of the network and the storage type that you have mounted as VMs' `/` root partition?

Could you please also specify the target deployment for your needs? and, if you like, the target workloads

[2021-03-05 14:10] amohoste commented on #158
I was using 2 n1-standard-4 (4 vCPUs, 15 GB memory) nodes with storage type SSD PersistentDisk for the measurements in my previous post.

[According to documentation](https://cloud.google.com/compute/docs/machine-types#n1_standard_machine_types), the max egress bandwidth for these machines is 10 Gbps. I also ran some iperf measurements for 60 seconds between the two nodes on TCP. For local traffic

[2021-03-05 16:01] ustiugov commented on #158
Ok, thanks for the details.

I think that for the setup that you described, pulling function images from Dockerhub at each worker node becomes a clear bottleneck, resulting in timeouts. What would make sense to do is to pre-pull the Docker images of the functions and stateful services that you intend to use into a [k8s-cluster local registry](https://medium.com/swlh/deploy-your-private-docker-regi

[2021-03-06 15:34] amohoste commented on #158
Sure! I can do that.

[2021-03-07 13:01] ustiugov commented on #158
@amohoste sure, please message me on Slack and let's discuss

[2021-03-09 19:25] ustiugov opened #164 "Support Knative eventing in vHive"

[2021-03-11 11:36] ustiugov commented on #158
closing as the infrastructure works on GCP.

[2021-03-11 11:36] #158 closed

[2021-03-11 11:37] ustiugov commented on #151
@shyamjesal any update on this?

[2021-03-11 11:39] #79 closed

[2021-03-11 11:40] ustiugov commented on #13
use the scripts for cleaning the host resources explicitly.

[2021-03-11 11:40] #13 closed

[2021-03-11 12:40] ustiugov opened #165 "Deploy and populate a local container registry"
For the FaaS benchmarking at scale, we would like to avoid the obvious bottleneck of a remote registry, like DockerHub.

Required changes:

- [ ] the ctriface module should not default to `docker.io/`
- [ ] YAML files should specify the registry when specifying each container image
- [ ] need to add a script that would deploy by URL and populate the local registry in a vHive cluster, by copying th

[2021-03-11 13:20] ustiugov opened #166 "PMU tools must be installed inside the runner, not on the host"
The TopDown analyzer broke the self-hosted CI, requiring a minor fix.

https://github.com/ease-lab/vhive/blob/5f69089a6872a03bc88f9c2b2e7a4584a6d8f834/scripts/github_runner/setup_runner_host.sh#L48

[2021-03-12 10:08] #166 closed

[2021-03-15 13:48] shyamjesal commented on #164
Source: [https://knative.dev/docs/eventing/accessing-traces/](https://knative.dev/docs/eventing/accessing-traces/)

The following demonstrates how to trace requests in Knative Eventing with Zipkin, using the [`TestBrokerTracing`](https://github.com/knative/eventing/blob/master/test/conformance/broker_tracing_test.go) End-to-End test.\
For this example, assume the following details:

-   Everything

[2021-03-16 11:58] amohoste commented on #165
How would you like the local registry population to work? Do you want it to be automated such that upon calling the deployer, images are first pulled to the local registry or did you have a separate script in mind. Also, there should be a way for the script to know which global registry it can fetch the images from. A straightforward way to do this would be to map the local url to the global url o

[2021-03-16 19:19] ustiugov commented on #165
@amohoste sorry for the late response.

I would prefer to give complete flexibility of using different registries, incl. dockerhub, AWS ecr, vHive local registry, etc.,  to the user who specifies the YAML files. The script can take a list of images and two arguments: source registry and destination registry.

[2021-03-16 22:47] amohoste commented on #165
Okay, I suppose it should be in a separate script it is then?

Regarding the testcases, should I make them point to docker.io and add some for the local registry or should I port all of them to the local registry?

[2021-03-16 23:01] ustiugov commented on #165
yes, separate. In the unit tests as well as the integration tests except in the `cri/` module, you can use `docker.io`. In `cri`, we test integration with kubernetes so there it would be good to use the local registry instead (e.g., for one of the functions). The CRI tests are not 100% stable as of now so please let us know in case of any weird failures.

[2021-03-17 00:13] amohoste commented on #165
Could you point me to where the test images for the CRI tests get deployed? `cri_test.go` is calling the following hardcoded url: `helloworld.default.192.168.1.240.xip.io:80` but I'm not 100% sure where this is getting deployed exactly. If we would want to test a function deployed from the local registry, I think we also would also need to deploy a different image than helloworld since we can't ha

[2021-03-17 16:13] #164 closed

[2021-03-18 00:36] amohoste commented on #158
I am again running into issues where services fail to deploy. I think it might be related to the following error: `cni config load failed: no network config found in /etc/cni/net.d: cni plugin not initialized: failed to load cni config`

[code]

[worker-0_fc-ctrd.log](https://github.com/ease-lab/vhive/files/6160515/worker-0_fc-ctrd.log)
[worker-0_vhive.log](https://github.com/ease-lab/vhive/files/

[2021-03-18 11:39] ustiugov commented on #165
@amohoste these are three different entities.
* `helloworld.default.192.168.1.240.xip.io:80` is a URL of a deployed function that is exposed by the ingress (i.e., istio load balancer).
* Images are root filesystems (think of docker images).
* The registry is just a database of these images that need to be pulled by workers (hosts) before starting function instances.

Different functions can use th

[2021-03-18 11:47] amohoste commented on #165
I am indeed aware of this distinction I was assuming the helloworld part in the deployed function url was derived from the imagename which would mean that deploying the same image twice from different registries wouldn’t work because it would result in the same url. It indeed makes sense that’s it’s possible to be able to specify the name of the deployed function url.

Regarding the other part of

[2021-03-18 11:48] ustiugov commented on #158
@amohoste no, the CNI error message is not a real issue, just an artifact of how we start a cluster.

As of now, deployment is not a critical issue because this is not what vHive users benchmark (as of now at least). For now, re-deploying should suffice.

You may want to raise a separate issue for this problem and attach the logs. However, it is not going to be fixed soon because it is of a rather

[2021-03-18 11:53] ustiugov commented on #165
Functions deployment is cluster-wide. k8s decides when and on which host to starts an instance of a function. During deployment, it spawns one instance, by default. k8s decides on the worker placement, then the worker fetches the image from the given registry and stores the image locally in the devmapper (think of `docker pull`). A user doesn't need to do anything except specify a registry -- that

[2021-03-18 13:58] ustiugov opened #181 "CI: need to re-install all the binaries upon each test"
Non-CRI integration tests may pass even if the binaries don't work because the binaries are installed once upon the setup of a self-hosted runner. As a result, CI may not detect a problem in updated binaries.

This fix needs to be prioritized.

[2021-03-18 14:01] ustiugov opened #182 "[URGENT] Updated binaries are broken"
The recently updated binaries are broken. We are going to revert the associated updates before we make sure that our CI detects such failures properly.

[2021-03-18 19:32] amohoste commented on #165
Sorry, I should have made my question more clear. I meant to say in which part of the testing code the deployment of the functions is being done. I saw the [github workflow](https://github.com/ease-lab/vhive/blob/master/.github/workflows/cri_tests.yml#L83) contains some code to deploy the functions but the [makefile](https://github.com/ease-lab/vhive/blob/master/cri/Makefile#L39) also contains som

[2021-03-18 19:51] ustiugov commented on #165
you are looking at the wrong test (the one for the stock knative mode). For the vHive default mode with Firecracker, look at this [test](https://github.com/ease-lab/vhive/blob/ae68cf63218b47c83e3fd34a0c751edced007c65/.github/workflows/cri_tests.yml#L21). You can augment this test.

[2021-03-18 20:33] amohoste commented on #158
Redeploing sadly didn't fix the issue. I tried a bunch of different things but am not able to get things working again.  Even on one node it is somehow failing
[code]
[vhive.log](https://github.com/ease-lab/vhive/files/6167032/vhive.log)
[fc-ctrd.log](https://github.com/ease-lab/vhive/files/6167033/fc-ctrd.log)
[ctrd.log](https://github.com/ease-lab/vhive/files/6167034/ctrd.log)

[2021-03-18 20:38] #182 closed

[2021-03-18 20:40] ustiugov commented on #158
There was a problem when upgrading the dependencies' binaries that was not caught by the CI. It's already [fixed](https://github.com/ease-lab/vhive/issues/182). Please start with a clean set up.

[2021-03-18 20:42] ustiugov commented on #158
also, we decided to re-iterate on existing sporadic failures asap. Hopefully, we'll fix this sporadic failure too.

[2021-03-19 11:24] amohoste commented on #158
@ustiugov Thanks for the heads up. Unfortunately, even now it still seems to be failing. Redeploying multiple times didn't help on the multinode setup. I also tried the one node setup with the fixed binaries but I am running into the same issue.

[controller_ctrd.log](https://github.com/ease-lab/vhive/files/6170740/controller_ctrd.log)
[controller_fc-ctrd.log](https://github.com/ease-lab/vhive/fil

[2021-03-19 11:34] ustiugov commented on #158
@amohoste interesting, is your repo up-to-date with the last commits from yesterday? we gonna check asap.

[2021-03-19 11:55] amohoste commented on #158
Correct, I'll try testing it with a commit from 15 days ago to double check if this is due to google cloud or a newly introduced issue

[2021-03-19 14:38] amohoste commented on #158
Quick update, I am still investigating what is wrong. The issue also seems to appear on the March 5th commit.

[2021-03-19 15:40] amohoste commented on #158
I haven't been able to resolve the issue. The first time deploying, I get the usual timeout:

[code]

Upon invoking the deployer a second time, the deployment finishes almost instantly
[code]

However, Invoking the helloworld function does not seem to work
[code]

Only the containerd logs contain error messages which seem to be network related:
[controller_ctrd.log](https://github.com/ease-lab/vhi

[2021-03-19 19:53] ustiugov opened #187 "Add vanilla snapshots option to the CRI tests"
We need to make sure that `-snapshots` options works in a vHive cluster.

[2021-03-22 21:14] ustiugov opened #191 "Commit linter allows non signed commits"
The lack of signature is treated as a warning while it must be an error. [Example](https://github.com/ease-lab/vhive/pull/190/checks?check_run_id=2169925888)

[2021-03-24 17:41] #165 closed

[2021-03-24 18:58] shyamjesal commented on #121
## Error type 1: Context deadline exceeded
[code]
### vHive Logs
[code]
### Fccd logs:
[code]

[orch.out.txt](https://github.com/ease-lab/vhive/files/6199794/orch.out.txt)
[fccd.err.txt](https://github.com/ease-lab/vhive/files/6199795/fccd.err.txt)

[2021-03-25 10:14] #181 closed

[2021-03-25 10:42] ustiugov commented on #121
@shyamjesal it seems that the following folders `/var/lib/firecracker-containerd/shim-base/firecracker-containerd/<vmID>` are not deleted after each run of CRI tests. This might be attributed to the fact that shutting down VMs fails sometimes. This is not critical because this problem can only appear across vHive-CRI starts not within a single run (because vHive-CRI uses monotonically increasing v

[2021-03-25 10:51] ustiugov commented on #121
@shyamjesal as a feedback, you need to collect logs of vHive with Debug. The info verbosity level may not be sufficient.

[2021-03-25 10:54] ustiugov commented on #191
@shyamjesal any idea how to fix this one?

[2021-03-25 15:45] shyamjesal commented on #151
added in https://github.com/ease-lab/vhive/pull/194

[2021-03-25 15:51] ustiugov commented on #151
it's not 194. the question is about restarting a cluster on bare metal not restarting the runners.

[2021-03-25 15:55] shyamjesal commented on #151
My bad. I will remove the links.

[2021-04-05 13:26] vfoehn commented on #126
I experience the same error when trying to run vHive on a single-node minikube cluster. However, I don't think the cluster setup has anything to do with the error. It seems like the image `docker.io/vhiveease/queue-39be6f1d08a095bd076a71d288d295b6` doesn't run correctly unless `GUEST_ADDR` is set (perhaps as an environment variable).

The following lines (introduced on 27.11.2020 and 30.11.2020) i

[2021-04-05 17:01] ustiugov commented on #126
@vfoehn thank you for your comment.

vHive starts each VM with a tap and its corresponding IP address (this is assigned by the vHive code not the CNI plugin), using the environment variable that you mentioned. This is the intended behavior.

This issue is about a **multi-node setup in a kind container** (i.e., a kubernetes cluster running in Docker containers instead of VMs or bare metal). The mul

[2021-04-06 03:25] vfoehn commented on #126
@ustiugov thanks for the quick reply and the information.

I didn't follow the instructions from `docs/quickstart_guide.md` to a T since I wanted to run vHive on a minikube cluster (as opposed to creating a new cluster using `kubeadm`) I had already installed on my machine. Consequently, it is very possible that the mistake was caused by me or my setup. This is why I'm hesitant to raise a separate

[2021-04-16 17:12] sosson97 opened #215 "Deploying functions fails in vanilla snapshot mode when I restart vHive"
**Describe the bug**
I'm testing vHive in firecracker's vanilla snapshot mode(gives `-snapshots` option to vHive) on single node container environment described in [this](https://github.com/ease-lab/vhive/blob/main/docs/developers_guide.md#deploying-single-node-container-environment). The example [deployer](https://github.com/ease-lab/vhive/blob/main/examples/deployer/client.go) works like a charm

[2021-04-16 17:58] ustiugov commented on #215
@sosson97 thank you for reporting the issue. It seems to be connected to the devmapper pool of images... This thin pool should be deleted and re-created by `./scripts/cluster/create_one_node_cluster.sh` but it seems to be not working.

@shyamjesal any thoughts?

The workaround is to delete the `kind` cluster and restart it, as described here.

[2021-04-17 11:51] #215 closed

[2021-04-19 10:17] ustiugov opened #217 "[CI] Disable sharing logs with the host"
**Describe the bug**
We upload logs as artifacts so now we need to remove sharing the folder.

[2021-04-19 10:18] ustiugov commented on #151
fixed by #208

[2021-04-19 10:18] #151 closed

[2021-04-19 11:09] #187 closed

[2021-04-20 08:24] sosson97 opened #218 "create_one_node_cluster.sh fails in setting up net-istio after cleaning up"
**Describe the bug**
Hi. When I tried to re-run create_one_node_cluster.sh after cleaning up vHive, one of k8s object creation failed with following error.
[code]

I found the script fails at this line,
https://github.com/ease-lab/vhive/blob/4ec90bd065eb2460f69be88c2208b761dd8a7eb2/scripts/cluster/setup_master_node.sh#L70

and it seems to fail in creating configmap/config-istio.

```kubectl get se

[2021-04-20 12:54] sosson97 commented on #218
Oh, the issue is fixed by creating config-istio manually. I just typed this command again at the completion of ```create_one_node_cluster.sh```.
[code]

[2021-04-20 12:54] #218 closed

[2021-04-21 16:51] amohoste opened #219 "Segfault when creating many pods simultaneously"
**Describe the bug**
When a lot's of pods are being created simultaneously, vHive segfaults in `createUserContainer`.

**To Reproduce**
1. Setup a vHive cluster as specified in the quickstart guide (one master and one worker should be sufficient)
2. Modify `examples/deployer/functions.json` such that only helloworld will be deployed
3. Deploy helloworld by calling `go run examples/deployer/client.

[2021-04-30 12:48] ustiugov opened #223 "CNN serving image build is broken"
**Describe the bug**
CNN serving image is broken due to an update in a dependency.

**To Reproduce**
the error appears in the [nightly testing](https://github.com/ease-lab/vhive/runs/2436625774?check_suite_focus=true#step:3:133)

**Expected behavior**
Successful build

**Logs**
https://github.com/ease-lab/vhive/runs/2436625774?check_suite_focus=true#step:3:133

**Workaround**
Use pre-built image `

[2021-05-03 12:54] ustiugov opened #225 "[Critical] vHive-CRI integration is broken that results in function timeouts"
**Describe the bug**
The issue is currently under investigation and has the top priority. Initial investigation indicates that Kubernetes got upgraded to 1.21 in Ubuntu 18's packages.

**To Reproduce**
Run the CI tests or run the deployer and invoker scripts.

**Expected behavior**
We are going to look to fix the Kubernetes version to avoid transparent upgrades.

**Logs**
In [nightly CI](https://g

[2021-05-03 16:55] ustiugov commented on #225
downgrading to kubernetes 1.20.6 didn't work. Need to investigate the issue further.

[2021-05-03 17:43] shyamjesal opened #226 "Enable perf benchmarks in integration tests"
**Describe the bug**
Integration test github action fails to identify pmu-tools installation.

**To Reproduce**
Trigger integration test from Github webUI.

**Expected behavior**
Integ test fails due to missing PMU tools.

**Logs**
[code]

**Notes**

[2021-05-03 20:57] ustiugov commented on #225
Current status

1. we’ve ruled out Kubernetes upgrade
2. we haven’t updated the knative containers for a long time, hence knative is unlikely to be the problem.
3. Clearly, there is a DNS issue. DNS is definitely not something that is vhive-specific. Hence, need to try the vanilla knative with our configs and so. this is something that we can try next.
4. maybe metaldb or Istio? for the latter, we

[2021-05-04 20:34] #225 closed

[2021-05-04 22:02] #217 closed

[2021-05-04 22:06] ustiugov commented on #219
I think that we should limit the number of concurrently booting VMs on each worker to some number, say 10 (because why not 10) so that we avoid contention on the disk that is likely to cause this problem.

As a fix, my suggestion is to use a global semaphore (i.e., [bound channel](https://medium.com/@deckarep/gos-extended-concurrency-semaphores-part-1-5eeabfa351ce)) [here](https://github.com/ease-

[2021-05-05 16:07] amohoste commented on #219
I agree disk contention due to booting lot's of VMs concurrently is a genuine concern.

Although for the "too many open files" issue, which is the underlying issue for the segfault, closing the SSH connection and logging in again after running `setup_worker_kubelet.sh` seems to resolve. Apparently, all active session windows must be closed for the [file handle limit updates](https://github.com/eas

[2021-05-12 14:42] ustiugov opened #235 "Enable OpenTelemetry metrics support"
[OpenTelemetry](https://knative.dev/development/install/collecting-metrics/) metrics collection for visualization in Zipkin. As of now, some components seem to not emit all necessary metrics for distributed tracing. This PR aims to fix that.

The solution is likely to be described in this [manual](https://knative.dev/development/install/collecting-metrics/).

[2021-05-12 14:46] ustiugov opened #236 "Add complex benchmarks to vHive"
We plan to add more reprepresentative benchmarks to vHive framework, particularly, multi-function apps, apps with various serverful components (e.g., Apache Kafka), data-intensive apps, apps with complex control and data flow.

The confirmed list of functions with committed contributors:

| Function name | Status | Contributor | Type | Knative infra | Link|
| ------------------------| ------------

[2021-05-12 14:48] ustiugov commented on #236
We welcome the contributions from the open community here! Please get in touch if you would like to add your benchmarks or request particular benchmarks to be added.

[2021-05-20 11:17] yl3469 opened #242 "Link for cloudlab profile is not public"
Hello,

The link provided in the quick_start guide for the cloudlab profile is not public. It would be great to change the link to https://www.cloudlab.us/p/RPerf/vHive-cluster-env/5.

Thank you again for providing this repo!

[2021-05-20 21:36] #242 closed

[2021-05-29 15:07] ustiugov opened #253 "Add a doc describing available CloudLab profiles"
Need to list non-automated and automated profiles, single-node and multi-node.

[2021-05-31 19:03] plamenmpetrov opened #263 "Create single module, aggregate dependencies"
Currently, we have many modules, for which we have `go.mod`s, where the dependencies for each module are kept. This make upgrading some dependencies such as firecracker-containerd error prone, because the dependency needs to be changed in several places.

It seems a lot of the dependencies overlap across the modules - containerd, firecracker-containerd, and some less obvious ones, like grpc. This

[2021-06-03 08:48] ustiugov commented on #263
[example](https://github.com/ease-lab/vhive-bench/tree/main/src)

[2021-06-03 09:10] boramalper commented on #263
I'll try to tackle this. Currently there are 13 modules:
[code]

and you want a single module residing at the root of the repository except for `examples` and `function-images`, i.e.:

[code]

Right?

[2021-06-03 09:16] ustiugov commented on #263
let's ignore `./function-images` and `examples/` folders. all others need to be deleted

[2021-06-04 15:59] ustiugov opened #267 "Need to run the stock CRI test on a GitHub-hosted runner instead of the self-hosted"
Self-hosted need to be used only for running Firecracker-based setup.

https://github.com/ease-lab/vhive/blob/4f3d934cb93c31a6952f414ada32e5147eaa49c1/.github/workflows/cri_stock_containerd_test.yml#L16

Knative runs end-to-end tests atop of GH-hosted runners by setting up Docker/kind environment, [link](https://github.com/knative/serving/blob/main/.github/workflows/kind-e2e.yaml). That should be

[2021-06-07 14:22] boramalper opened #270 "Enable memory manager tests"
`memory/manager/manager_test.go` exists but all tests are commented out.

- [ ] Why they have been commented out?
- [ ] How to enable them?

See https://github.com/ease-lab/vhive/pull/268#discussion_r646628346

[2021-06-07 14:36] ustiugov commented on #270
Duplicate of #36. sorry.

[2021-06-07 14:36] #270 closed

[2021-06-08 11:40] #263 closed

[2021-06-08 11:47] ustiugov commented on #59
travis is gone

[2021-06-08 11:47] #59 closed

[2021-06-08 11:50] ustiugov commented on #89
kind of fixed by #188

[2021-06-08 11:50] #89 closed

[2021-06-08 11:52] ustiugov commented on #121
#64 seems related

[2021-06-09 20:48] boramalper opened #276 ""CI/CD for base images / Deploy vhiveease/golang" Always Fails at docker login"
**Describe the bug**
"CI/CD for base images / Deploy vhiveease/golang" always fails at docker login with the following error:

[code]

**To Reproduce**
@MBaczun I presume [it works in your PRs](https://github.com/ease-lab/vhive/pull/250) because you have added the secrets to your own profile rather than ease-lab's?

**Expected behavior**
It should work for everyone

**Logs**
See https://github.com

[2021-06-09 20:53] MBaczun commented on #276
Hi Bora, I did not add the secrets myself, I asked @ustiugov to add them and they were added very recently :). This is definitely an issue with the secrets though, hopefully Dmitrii has more insight

[2021-06-09 20:58] MBaczun commented on #276
Upon further investigation the workflow also works on the main branch. Could you try rebasing your fork again to see if that makes a difference?

[2021-06-09 21:03] ustiugov commented on #276
@boramalper the secrets are deployed for ease-lab organization. probably, your fork does not relate to it. you can go to our dockerhub account and create similar secrets for your account.

[2021-06-14 10:32] ustiugov opened #279 "KinD docker image build is broken"
**Describe the bug**
It seems that there is a problem when installing Scopio dependencies in the KinD environment.

@amohoste could you please reproduce the steps and suggest a fix? It's likely that one of the links got obsolete.

**To Reproduce**
Repeat the steps in the [dockerfile](https://github.com/ease-lab/vhive/blob/main/scripts/github_runner/Dockerfile.cri_dev_env) manually.

**Expected beh

[2021-06-14 12:34] #279 closed

[2021-06-14 12:50] ustiugov opened #282 "CD should only be performed if integration test pass (CI)"
This [workflow](https://github.com/ease-lab/vhive/blob/c5e706ac31eeb7ae7f0267202c7b28e020cbdf7d/.github/workflows/image_build.yml#L1) must be triggered **only** when the [composition tests](https://github.com/ease-lab/vhive/blob/main/.github/workflows/function-composition.yml) finish successfully otherwise we risk pushing Docker images that don't pass our tests.

The way to do this is using [workf

[2021-06-17 09:02] #276 closed

[2021-06-17 13:25] #191 closed

[2021-06-21 08:42] xiregele opened #287 "Doc to explain networking model"
Is there any document describing the networking model?
At a glance of the code, the same IP address is assigned to both firecracker VM and the queue-proxy container. How is it suppose to work?
If one function needs to get something from network, will it all work out?

[2021-06-21 11:32] #287 closed

[2021-06-23 12:39] ustiugov opened #297 "[zipkin] Need to export Zipkin port from the kind container to the host"
This is required when visualizing traces from a cluster running inside KinD.

@shyamjesal I guess this should be patched by a simple addition to our KinD container image, what do you think?

This has a relatively low priority but can be very useful as people start bringing up new workloads.

Reported by @MBaczun

[2021-06-23 12:44] shyamjesal commented on #297
Yes, this is possible using a simple kind [config variable](https://kind.sigs.k8s.io/docs/user/configuration/#extra-port-mappings).

[2021-06-23 12:53] ustiugov commented on #297
@shyamjesal cool, can you do that this week?

[2021-06-23 18:40] boramalper opened #299 "How to set OpenTelemetry tracing parameters?"
See https://github.com/cloudevents/sdk-go/issues/693

Possibly relevant other issues:
- https://github.com/knative/eventing/issues/1757
- https://github.com/knative/eventing/pull/1858

[2021-06-24 13:35] boramalper opened #301 "Deployer cannot deploy async (eventing) workflows"
As `deployFunction()` of deployer is in essence a call to `kn service apply`, it fails to deploy Knative Eventing (i.e., async) workflows, and **is NOT** easily extensible to support them as those workflow requires some additional components (such as brokers, triggers, and also quite possibly [channels](https://knative.dev/docs/eventing/channels/), [subscriptions](https://knative.dev/docs/eventing

[2021-06-25 11:51] nathanieltornow opened #303 "Enable gVisor sandbox as a sandbox alternative (First step)"
Hi!
We (a group of students at TU Munich) would like to add support for [gVisor](https://gvisor.dev/)-Sandboxes to vHive, which can be used on demand as an alternative for firecracker-VMs.

The first step for this would be following:

### Refactoring and generalising cri
Overall layout:
[code]

Description:
- Creating a generic interface for a coordinator:
[code]
  StartSandbox and StopSandbox are

[2021-06-25 11:53] nathanieltornow commented on #303
We will hand in a PR for these changes asap, which won't change/ or add any functionality yet (only refactoring)

[2021-06-28 07:20] MBaczun opened #305 "Invoker missing output"
**Describe the bug**
The invoker produces a wrong number of output latency measurements. This is most apparent when I tried to use the invoker to invoke both the eventing and serving benchmarks at the same time. With rps=1 and time=5 only 4 entries were made into the output csv.

There is also a discrepancy between the number of zipkin traces emitted and the number of latencies recorded. E.g. with

[2021-06-30 09:52] ustiugov opened #312 "Video Analytics benchmark (Serving)"
Functions: vide-streaming -> decoder -> recognition

* video-streaming sends the same video fragment that it read once from a file upon startup
* decoder decodes X frames, make it easy to configure, and invokes recognition on each of them in a separate invocation
* recognition loads the model and reads the labels upon startup

The [gist](https://gist.github.com/ustiugov/2d9150cbbd843f75f175ad67d8f

[2021-06-30 09:57] ustiugov commented on #305
Must not be a bug in the functionality but let's keep it open. Need to do the following:

- [ ] clarify that RPS is total not per function
- [ ] compare the performance of Serving vs Eventing.

[2021-06-30 10:06] ustiugov opened #313 "MapReduce (Corral) benchmark"
Here is the [repo](https://github.com/ease-lab/corral)

[2021-06-30 14:57] MBaczun opened #315 "otelgrpc latest version causes missing packages error"
The latest version of `go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc`, v0.21.0 causes issues when trying to use it with existing code from our go tracing module.

The error I am seeing, while building a docker image:
[code]

Similarly, if I try starting from a __blank__ go.mod file, and running `go mod tidy`:
[code]

In summary the issue is that the `semconv` package

[2021-07-01 09:21] MBaczun commented on #315
See https://github.com/open-telemetry/opentelemetry-go/issues/2049

[2021-07-01 09:34] MBaczun commented on #282
Addressed in #283

[2021-07-01 09:34] #282 closed

[2021-07-01 09:47] ustiugov opened #321 "Move non-Firecracker based CI to github-hosted runners"
https://github.com/knative/serving/blob/main/.github/workflows/kind-e2e.yaml

[2021-07-01 09:47] #321 closed

[2021-07-01 11:30] ustiugov opened #322 "vhivemetadata must be created by the Invoker"
Currently, the metadata , incl. the start timestamp, is created by the first function in an Eventing workflow. We need to do that in the invoker functionality so that Serving and Eventing latencies match apples-to-apples.

I suggest augmenting the invoker and the 2 microbenchmarks' to use the same helloworld protobuf but with an extra field that is the metadata. gRPC is [backward compatible](https

[2021-07-01 11:31] ustiugov commented on #322
also, please update the invoker to use the latest tracing module version. it uses a stale version without the tracing library not abstracted away.

[2021-07-01 11:37] ustiugov opened #323 "Toggle tracing on/off in the Serving microbenchmark"
Tracing comes with overheads, we need to implement a way to toggle it on and off. I guess we have to use the environment variables after all... I don't see any other way.

[2021-07-01 11:44] ustiugov opened #324 "Support environment variables defined in Knative manifests when spawning MicroVMs"
Currently, `ctriface/` doesn't pick up environment variables from the knative manifests. Firecracker-containerd supports it at a the container creation time as a runtime argument to the corresponding API call.

Example:
[code]

The use case is to enable and disable tracing when running vHive with Firecracker MicroVMs. As of now, this must be hardcoded in each function image.

[2021-07-01 11:44] #235 closed

[2021-07-01 18:24] ustiugov commented on #315
please try the method suggested by the maintainers and restore v0.21.0.
https://github.com/open-telemetry/opentelemetry-go-contrib/issues/841#issuecomment-872455215

[2021-07-05 11:08] MBaczun commented on #315
The methods suggested in the otel issue did not work:

Replacing the import with `semconv "go.opentelemetry.io/otel/semconv/v1.4.0"`  as suggested at first did not help, running `go mod tidy` after this change still results in the issue.

Running go mod tidy "in a clean environment" as later suggested also does not work. I have tried running go mod tidy in a fresh cloudlab environment which doesn'

[2021-07-05 12:10] ustiugov commented on #315
Please write that in upstream not here

[2021-07-05 14:29] #322 closed

[2021-07-05 14:29] #323 closed

[2021-07-07 11:59] boramalper commented on #305
I believe this is fixed by #331?

[2021-07-07 12:01] #305 closed

[2021-07-15 08:18] MBaczun opened #338 "Blocking docker-compose in CI"
Currently CI workflows which include a docker-compose are made to run in the background, as seen in the chained-function-serving microbenchmark and in the upcoming video-analytics benchmark CIs. These should be replaced with a blocking implementation, whereby the invoker or grpcurl binary is run from a docker image to invoke the chain, and docker-compose closes upon the completion of the grpcurl/i

[2021-07-15 08:56] shyamjesal opened #339 "Add otelhttp handler in tracing library"
Add otelhttp handler to the tracing library.

_Originally posted by @ustiugov in https://github.com/ease-lab/vhive-xdt/pull/7#discussion_r669862451_

[2021-07-15 15:19] #219 closed

[2021-07-21 11:27] Abhi4010 opened #344 "Invoker Client.go fails, fails to include required packages"
When I executed the command go run examples/invoker/client.go I got the following response:

[code]

While I tried to add the packages both returned me with issues.

[code]

[code]
I successfully deployed the function. Currently stuck on the final step: invoking the function. I am using Ubuntu 18.04

[2021-07-21 11:44] ustiugov commented on #344
hi @Abhi4010, could you please try on a clean machine or a docker container? we run the build regularly in our CI so there should be no error.
I believe that your Go installation might be corrupted,  please remove and install Go again. If the error persists, please let us know.

I leave the Issue open for now.

[2021-07-21 15:06] ustiugov opened #345 "MinIO CRI test is disabled"
The test does not gracefully remove the minio server. Once it is added, it should be re-enabled.

[2021-07-21 21:44] ustiugov opened #346 "Function composition bench workflow not running"
[Function composition bench](https://github.com/ease-lab/vhive/actions/runs/1044673499) is not run after the build workflow. It seems to work exclusively when a PR is merged.

I suggest us merging the two workflows into one as Theodor did [here](https://github.com/ease-lab/vhive-bench/actions/runs/1020417319)

[2021-07-22 17:11] #346 closed

[2021-07-26 19:41] #312 closed

[2021-07-28 09:52] shyamjesal opened #361 "Splintered traces in video-bench with multi-threading"
**Describe the bug**
Splintered traces in video-bench with multi-threading

**Expected behavior**
All the spans should have a common trace ID.

**Logs**
![image](https://user-images.githubusercontent.com/20225226/127301820-11074507-f624-4dfc-9b34-8873b4a06466.png)

**Notes**
Tried multi-processing too (like [this](https://opentelemetry-python.readthedocs.io/en/stable/examples/fork-process-model/RE

[2021-08-03 10:41] ustiugov commented on #361
Update: the issue seems to root in the fact that we do not pass the context when invoking many functions at once. It is not very clear how to do that in Python.

[2021-08-03 10:42] ustiugov commented on #313
this benchmark is finished. it supports only S3 as the backend, as of now.

[2021-08-03 10:42] #313 closed

[2021-08-03 19:49] ustiugov opened #373 "Pull containerd images explicitly before deploying functions in the CI"
Right now, deployment of some heavy functions (e.g., [video analytics](https://github.com/ease-lab/vhive/pull/365/checks?check_run_id=3234445420) with 200+MB images) takes many minutes. We need to add explicit images pulling to make sure the deployment does not time out because of the slow container registry.

Moving to ghcr.io instead of dockerhub as a public registry would be a good idea as well

[2021-08-05 09:47] guoyingc opened #375 "Document how to config image registry"
Hi, vhive team

I would like to try vhive but I met with issues to store function (knative service) images. I tried several ways:
- docker hub: if I use docker hub, I will meet with "Too Many Requests - Server message: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading" error when pod is starting
- local registry: if I use local regis

[2021-08-05 09:56] #375 closed

[2021-08-20 10:24] ustiugov opened #390 "Spellcheck test is broken"
log: https://github.com/ease-lab/vhive/pull/378/checks?check_run_id=3380576745#step:4:25

Seems that the config file needs to be updated.

[2021-08-24 21:39] dhschall opened #392 "Add new standalone serverless functions to Benchmark suite"
We plan to add more representative standalone functions to the vHive benchmark suite. The functions should be a representative subset of the functions that are actually deployed in serverless frameworks. In contrast to #236 where entire apps with complex workflows are targeted, this functions should serve a more simple and standalone functionality.

A list of ideas for such functions:

| Function

[2021-09-02 15:46] alannair opened #395 "Errors in setting up Single Node Cluster"
### Description
While trying to set up vhive for a single node cluster (following Section III of the [Quick-Start Guide](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#iii-setup-a-single-node-cluster)). The last step of the first subsection (the single node cluster setup script - *scripts/cluster/create_one_node_cluster.sh*) fails. It is always a timeout error and suggests th

[2021-09-03 10:46] MBaczun commented on #395
Hi Alan,

I was unable to reproduce this issue. Following the steps as outlined in the relevant section of the quick-start guide, upon running the `create_one_node_cluster` script my setup completes without any warnings or failed connections. I used cloudlab with the `vHive-cluster-quickstart` profile. I wonder if your issue comes up due to the host machine being used, since vHive has strict hardw

[2021-09-03 10:56] ustiugov commented on #395
hi @alannair, could you please specify the host hardware and OS specs, please? is it a cleanly booted node/VM?

[2021-09-03 10:59] ustiugov commented on #395
does the machine has internet access?

one cannot set up vHive without internet as of now. You may also want to check your firewall settings

[2021-09-04 07:11] alannair commented on #395
Hi @MBaczun , I am running this on a local machine, not CloudLab.
I agree that it is a dependency issue. In particular it seems to have do with kube not being able to connect to internet for some reason. As far as the Hardware/Software requirements are concerned, I am using a single x86_64 server (instead of two as mentioned in the Quick-Start Guide since I only need a single-node setup), and I am

[2021-09-04 09:06] ustiugov commented on #395
let us start by figuring 2 first issues:

1. can you try to use curl to access the following files:
[code]

if not, it might be a firewall issue, which could be reported to your IT support to solve it

2. it seems that the machine is not clean and comes with some version of k8s:
[code]
is it a freshly re-imaged node? I suggest using a clean node, bare-metal or a VM, because our setup requires usag

[2021-09-05 09:59] alannair commented on #395
Hi @ustiugov
1. curl works fine. Internet connectivity is not a problem outside kube, as far as I can see. I can pull those docker images too, but when the script does it, it fails, as you can see in the `[WARNING ImagePull]` lines of the log.
2. It is a bare metal server. In the course of debugging, I installed Kubernetes separately, so the script moves forward from there. Basically I was trying

[2021-09-06 12:17] ustiugov commented on #395
@alannair this is strange. How did you install kubernetes?

I recommend you to re-image the node and let our scripts to install everything because k8s compatibility issues pop up here and there. Note that the problem is in setting up k8s, there is nothing vHive specific till that setup stage.

[2021-09-06 16:18] ustiugov commented on #390
fixed by #391

[2021-09-06 16:18] #390 closed

[2021-09-06 16:19] ustiugov commented on #344
inactive, closing for now.

[2021-09-06 16:19] #344 closed

[2021-09-06 16:20] ustiugov commented on #303
fixed by #389

[2021-09-06 16:20] #303 closed

[2021-09-06 16:20] ustiugov commented on #267
fixed by #334

[2021-09-06 16:20] #267 closed

[2021-09-09 14:03] ustiugov opened #399 "Update guest kernel and rootfs"
Need to update the kernel and rootfs, following the [recipe](https://github.com/firecracker-microvm/firecracker/blob/cd7c08420848b2c7e2bb7ff72f096a2fb5da27f8/docs/rootfs-and-kernel-setup.md#use-the-provided-recipe) from the Firecracker team.

[2021-09-09 14:35] ustiugov commented on #395
@alannair did you manage to make it work?

[2021-09-10 05:23] alannair commented on #395
Hi @ustiugov
Sorry for the delay in my response. I was away for a few days and just came back now. I'll try this now.
I installed Kubernetes by following [these steps](https://dzone.com/articles/easy-step-by-step-local-kubernetes-source-code-cha) (Step 3 onwards).

[2021-09-10 09:19] plamenmpetrov commented on #399
I believe that the above-mentioned recipe will not be enough, as the agent needs to be part of the rootfs and it should also start when the MicroVM boots. [The firecracker-containerd recipe](https://github.com/firecracker-microvm/firecracker-containerd/tree/main/tools/image-builder) might be helpful.

[2021-09-10 12:56] alannair commented on #395
When running the scripts from scratch the following happens:
[code]

Note that since the first error encountered is `kubeadm not found` , I had ventured to install kube separately

[2021-09-10 17:08] ustiugov commented on #395
this is weird because our setup_node.sh should install it properly. did you run it on a freshly booted machine? maybe you can try the setup in a new Ubuntu 18 VM on that same node?

[2021-09-10 17:30] ustiugov commented on #399
@plamenmpetrov that's a good point, updated.

[2021-09-10 17:32] alannair commented on #395
Yes, it is from a freshly booted machine.
Note that this was on a bare metal server, not a VM. A VM would not suit our purposes unfortunately.

[2021-09-10 18:15] ustiugov commented on #395
we need to understand why setup_node.sh didn't install kubectl. you may want to manually execute all commands in those scripts and see if any of them fail. Particularly, k8s is installed by this [script](https://github.com/ease-lab/vhive/blob/main/scripts/install_stock.sh).

[2021-09-21 11:06] cvetkovic opened #401 "Stale getting started guide with missing folders"
I tried to set up and run vHive unsuccessfully, according to the instructions in the Getting Started guide (https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md), but I believe the document is stale. Concretely, while executing commands from IV.2 section some of the dependencies cannot be fetched as they are missing from either vHive or third-party repositories. Please have a look

[2021-09-22 08:57] ustiugov commented on #395
hi @alannair, is the problem still there?

[2021-09-22 09:23] alannair commented on #395
Yes, the problem persists. Nevertheless, I was able to run the script without these problems on a different machine, so I guess it is not a vHive-related error in itself. It is not a firewall/proxy issue either as curling and wgeting the same online resources seem to run fine outside this script. So, we suspect that it has to be with Kubernetes. It might be improperly configured. So, we are lookin

[2021-09-22 09:25] ustiugov commented on #395
ok, thanks for the heads up. Please keep us posted, I'll keep the Issue open for now.

[2021-09-24 12:56] cvetkovic opened #402 "Quick start script dependency missing"
**Describe the bug**
While running the II.1.4 command described in the vHive Quickstart, an issue as shown in the picture happens (a broken URL). Further steps cannot be executed because 'cri-tools_1.17.0~3_amd64.deb' are not installed. It worked up until today.
![Screenshot from 2021-09-24 11-55-24](https://user-images.githubusercontent.com/16463659/134677638-5fba653e-c4ca-4312-acff-03a7ae3c471b.

[2021-09-27 09:43] cvetkovic commented on #402
This issue is caused by apt-get install cri-tools command in the 'scripts/install_stock.sh' script. This command worked from Switzerland, but not from the CloudLab server in Utah, because the HTTP request got mirrored to a repository at Purdue. The apt-get directory was inconsistent at the time this issue was created.

[2021-09-27 11:36] ustiugov commented on #402
this issue needs investigation and probably a proper fix

[2021-10-04 15:41] ustiugov commented on #401
docs fixed by #397

[2021-10-04 15:41] #401 closed

[2021-10-04 16:00] ustiugov commented on #402
The issue is related to the fact that skopeo (the tool Amory introduced for using local registry) dropped support for Ubuntu 18 packages.

A proper solution is to migrate to Ubuntu 20. In the mean time, a hotfix will be provided.

[2021-10-04 16:08] ustiugov commented on #402
hotfix is to be introduced by #415

[2021-10-07 15:22] ustiugov commented on #345
we decided to use AWS S3 rather than MinIO in research experiments, closing.

[2021-10-07 15:22] #345 closed

[2021-10-07 15:22] #338 closed

[2021-10-07 15:29] #236 closed

[2021-10-17 03:07] prateeksahu commented on #126
Hi @ustiugov ,
I am running into a similar issue using a local single node cluster setup using the [single node steps](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#iii-setup-a-single-node-cluster) described in the quick-start guide.

Since I used the create_one_node_cluster and did not see any errors, I am assuming all the deployment have been done correctly. Any insight in

[2021-10-17 08:48] ustiugov commented on #126
Hi @prateeksahu,

This issue was open for kind containers, are you running in kind or on a bare metal / VM? If your issue is not related to the kind setup, please open a new issue.

Then, could you please specify the exact steps (which you execute on a clean Ubuntu 18 node or a vm) and supply relevant snippets of the logs, attaching full logs?

[2021-10-18 18:11] prateeksahu opened #423 "deployer fails with while created firecracker microVM"
**Describe the bug**
Example functions deployment gives `CreateContainerError` in a single node cluster deployment.

**Setup**
Single node vHive deployment on VM (x86 machine).
Host OS: Ubuntu 20.04, Guest OS: Ubuntu 18.04
Linux: 4.15

**Expected behavior**
Deployer should be able to deploy the functions

**Logs**
[code]
[code]

firecracker-containerd logs:
[code]
Above logs repeat a lot.
vhive lo

[2021-10-18 19:26] prateeksahu commented on #423
Hey @ustiugov
Thanks, I found out the i had not enabled the VT-x on my VM. That seems to have solved the issue. We can close this bug.
One query though, upon clean exit of the `vhive` program, any restart fails with port 3334/3333 as being busy. Any clue into this?

[2021-10-18 19:26] #423 closed, assigned to nobody

[2021-10-20 15:12] cvetkovic opened #425 "Number of completed invocations bug"
The number of successfully completed invocations gets incremented even in the case when RPC fails.
![Screenshot from 2021-10-20 17-01-30](https://user-images.githubusercontent.com/16463659/138120810-da8c8509-1c09-40fd-b46d-b64fa2e603af.png)

[2021-10-20 18:13] #425 closed, assigned to nobody

[2021-10-29 10:12] xxinran opened #428 "duplicate instantiation of stockRuntimeClient"
The `stockRuntimeClient` is instantiated in NewFirecrackerService() function and is re-instantiated in `NewService()`. I wonder if it is a bug, or did I miss something.

Please see
https://github.com/ease-lab/vhive/blob/main/cri/firecracker/service.go#L62
https://github.com/ease-lab/vhive/blob/main/cri/service.go#L54

[2021-11-02 06:01] xxinran commented on #428
Hi @nathanieltornow, thanks for your explanation. So the `fs.stockRuntimeClient` is specific for firecracker which is an attribute of FC service and it is listening on containerd.sock, while the `stockRuntimeClient` in cri.service is associated with `vhive-cri.sock`, please point it out if I misunderstood.

Hi @ustiugov, thanks for the information, I am doing some benchmarking on serverless platfo

[2021-11-03 20:44] nathanieltornow commented on #428
Hi @xxinran
No, both are communicating with the stock-containerd service.
A quick explanation:
- the vHive-cri listens on `vhive-cri.sock` in order to serve all request from k8s.
- the vhive-cri simply forwards all those requests (except `CreateContainer` and `RemoveContainer`) to the stock containerd-cri, which listens on `/run/containerd/containerd.sock`. Those request are forwarded by using the

[2021-11-15 21:54] nathanieltornow commented on #428
I'll close this issue for now, we can reopen it if other questions or problems arise.

[2021-11-15 21:54] #428 closed

[2021-11-26 15:30] michaelpaper opened #440 "Profiler instructions from the doc produce an error when installing pmutools"
I am trying to use VHive's profiler.
I followed each step of the quick start guide (cloning version 1.4.1) on a CloudLab cluster with the "vHive-cluster-env" profile with 2 nodes.
Then I followed the steps described in `docs/profiling.md`, but when running `scripts/install_pmutools.sh`, I get the following error:

[code]

Do you know why this happens and how to fix it ?

Thanks in advance !

[2021-11-26 15:34] ustiugov commented on #440
thanks for reporting this issue. @amohoste also noticed the same error few days ago

@dhschall as you are an active user of PMU tools, could you please take a look at why it fails in our script?

[2021-11-29 11:18] dhschall commented on #440
Hey, @michaelpaper
yes I also encountered this problem and it seems to come from a bug in the upstream repo.
I fixed it by adding a `, *_` in the tuple unpacking of [line 146 ](https://github.com/andikleen/pmu-tools/blob/93a31782131f907067339c883477075cfedb5451/event_download.py#L146)

[2021-11-29 11:26] ustiugov commented on #440
@dhschall could you please submit a bug fix to upstream?

[2021-11-29 11:34] ustiugov commented on #395
@alannair is the issue still relevant?

[2021-11-29 11:57] alannair commented on #395
We've stopped working on this issue.  Too much effort was spent without any real progress.
In the end we simply used a machine that has direct access (no proxy) to the internet. :)

[2021-11-29 12:10] #395 closed

[2021-11-29 12:13] dhschall commented on #440
Created [issue](https://github.com/andikleen/pmu-tools/issues/408#issue-1065941426) and pull request in upstream repo.

[2021-12-02 17:23] leonardvaney opened #443 "Quick start guide commands for profiling produces an error"
When executing the first example function from the profiling.md file, an error occurs when creating the containerd client.

What I did before triggering the bug:
- Install a node with the 4 first steps of the [quick start guide](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md)
- Install pmu-tools with the fix proposed in this [issue](https://github.com/andikleen/pmu-tools/issu

[2021-12-03 15:59] dhschall commented on #440
I pushed now my changes also to our own [fork](https://github.com/ease-lab/pmu-tools/pull/1)

[2021-12-03 19:51] ustiugov commented on #440
@dhschall please open a PR in this repo as well, changing the branch and the repo to the ones in our fork.

[2021-12-03 21:39] #443 closed

[2021-12-03 21:39] ustiugov commented on #443
sorry for the late response. please follow the updated manual.

[2021-12-06 10:05] ustiugov commented on #440
fixed by #445

[2021-12-06 10:05] #440 closed

[2021-12-06 10:06] ustiugov commented on #226
@dhschall could you please check if this one is still a problem? need to fix

[2021-12-22 18:29] ustiugov opened #452 "gVisor CRI runner is broken"
**Describe the bug**
The runner fails upon start.

**To Reproduce**
[code]

[2022-01-03 06:29] shyamjesal commented on #452
fixed by #456

[2022-01-03 06:29] #452 closed

[2022-02-09 15:33] dhuang-esl opened #473 "Failed to setup node following the quickstart guide"
**Describe the bug**
On a fresh install ubuntu 20.04 image, the node setup script failed to run due to missing required dependencies.

**To Reproduce**
On a fresh install ubuntu 20.04 image, run the following commands to configure the node following the [quickstart guide:](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#1-setup-all-nodes)

[code]
Then the script `setup_node.sh

[2022-02-11 08:13] ustiugov commented on #473
That's weird, the setup_system.sh script installs all the packages you mentioned. The script is used in the beginning of the quick start guide. I am not sure what breaks on your system

[2022-02-11 08:48] dhuang-esl commented on #473
This is super weird because I just tested the [latest ubuntu 20.04.03 image downloaded from the ubuntu website](https://ubuntu.com/download/desktop) this morning, it still didn't work:
[code]
Here is the system info:
[code]

Do you have any idea?

[2022-02-11 10:12] dhuang-esl commented on #473
Hi, I would like to provide more information about this bug. I found the workflow works very well on CloudLab with the provided CloudLab profile. However, it could not work for a fresh installed ubuntu image configured locally. I think maybe the image used in CloudLab is already pre-configured with some necessary dependencies before you can run the setup node script. Could you please also confirm

[2022-02-11 10:31] ustiugov commented on #473
@harshitgarg22 could you please take a look? Maybe download a fresh VM and try to reproduce it

[2022-02-11 12:23] harshitgarg22 commented on #473
Hi I can't reproduce this error. This is the output I get on an Azure VM, Cloudlab small-lan (different from the vhive one) profile for Ubuntu 20.04, Ubuntu VM using multipass.

[code]

[code]

I remember having this error at some point but if I recall correctly it was fixed by running on a fresh install.

Btw, the `Command failed` at the end is expected behaviour, and does not affect vhive progra

[2022-02-11 12:30] niravnshah opened #475 "Istio setup issue"
**Describe the bug**
Istio fails to complete the setup correctly. the ingressgateway and cluster-local-getway pods fail to start due to resource timeout.

**To Reproduce**
- Complete "Set up all Nodes" section correctly
- Manually follow the steps in create_multinode_cluster.sh till istio installation. -- everything works fine till then.
- run istioctl install -y -f $ROOT/configs/istio/istio-minim

[2022-02-11 12:44] niravnshah opened #476 "Failed to deploy function with deployer"
**Describe the bug**
when deployer is run with default value in functions.json, the deployer fails to deploy the fucntions correctly. Shows following error.
[code]

Also, when tried to run the deployer application again, it just shows function deployed, but doesnt seem to be deployed
[code]
Running invoker just generates empty report
[code]
rps.0.00_lat.csv is empty here.

**To Reproduce**
./examp

[2022-02-11 13:00] ustiugov commented on #475
This must be a sporadic error, just clean up the cluster like specified in the developer guide in docs (scripts/clean*.sh) and redeploy. The issue with the deployer must be related.

[2022-02-11 13:02] niravnshah commented on #475
I have tried many times to set up the cluster with fresh OS installation. Everytime i get the same issue. Could this be due to docker hub limiting the image download rate from an IP address?
As my system is behind intel proxy, ultimately docker hub might be getting the request from a common ip address and hence denying the request. Is this possible?
If so, what is the workaround to this? Is there

[2022-02-11 14:17] dhuang-esl commented on #473
Hi @harshitgarg22! Thanks for trying it on Azure VM. It seems vHive can work with the ubuntu image provided by CloudLab and Azure.

However, I encountered the bug while trying to configure vHive on a [ubuntu 20.04.3 image from the official Ubuntu website](https://ubuntu.com/download/desktop). Do you know if there is any difference between this image and the one provided by Cloudlab or Azure? Could

[2022-02-11 16:53] harshitgarg22 commented on #476
Does `docker pull hello-world` work for you?
Also since you mention being behind a proxy in #475, please check if this can solve your problem: https://stackoverflow.com/questions/23111631/cannot-download-docker-images-behind-a-proxy.

[2022-02-11 17:27] niravnshah commented on #476
If i install docker separately, yes, i can do docker pull hello-world after logging into docker after doing "docker login --username". However, as far as i see, the scripts/cloudlab/setup_node.sh doesnt install docker, right? Also, when i tried to install docker separately and then run scripts/cloudlab/setup_node.sh, i could not get the master node kubeadm create cluster correctly. Could be due to

[2022-02-11 17:36] niravnshah commented on #476
Thanks for the confirmation @ustiugov.

@harshitgarg22, i hope your concern about docker is resolved.

[2022-02-11 17:44] niravnshah commented on #395
I could resolve the proxy issue while working on a corporate network by putting following lines in /etc/environment and /etc/profile

http_proxy="http://your-proxy-server.com:port/"
https_proxy="http://your-proxy-server.com:port/"
no_proxy="<IP Addrs of all the nodes participating>,localhost,127.0.0.1/8,intel.com,.intel.com,192.168.49.2,192.168.0.0/16,192.168.0.1/16,10.96.0.0/16,10.165.160.4,/run/

[2022-02-12 09:39] harshitgarg22 commented on #473
I tried the ubuntu 20.04.03 and can confirm that the issue exists.
I will try to find the solution for it.

[2022-02-14 09:55] niravnshah commented on #476
Hi,

the issue with deployer is fixed by following...
`kubectl edit configmap config-deployment -n knative-serving`
add following line under data (dont edit the existing line under _example):
`  registries-skipping-tag-resolving: kind.local,ko.local,dev.local,index.docker.io`

Now, the example services and deployments are created alright, however, i am still not able to successfully invoke them.
A

[2022-02-14 10:41] niravnshah commented on #476
Above mentioned issue of invoker not getting any results is solved by adding ".sslip.io" to no_proxy environment variable

[2022-02-14 10:42] niravnshah commented on #476
the issue with deployer is fixed by following...
`kubectl edit configmap config-deployment -n knative-serving`
add following line under data (dont edit the existing line under _example):
`registries-skipping-tag-resolving: kind.local,ko.local,dev.local,index.docker.io`

issue of invoker not getting any results is solved by adding ".sslip.io" to no_proxy environment variable

[2022-02-14 10:42] #476 closed

[2022-02-14 12:02] ustiugov commented on #476
great to hear that you find a solution and thank you for reporting back.

[2022-02-14 15:55] dhuang-esl commented on #473
Thanks to @harshitgarg22 and @ustiugov , this bug is fixed in #477

[2022-02-14 15:55] #473 closed

[2022-02-21 12:39] ustiugov commented on #475
hi @niravnshah

Sorry for the late response, we are currently busy with tutorial preparation. if it is the docker issue (it's unclear from logs tbh), I advise you to host the knative images (and the images of the worlkloads you deploy) in a different registry. You can do so following this [manual](https://github.com/ease-lab/vhive/wiki/TMP:-How-to-Update-Knative-for-vHive), you can replace the doc

[2022-02-24 04:15] niravnshah commented on #475
Hi @ustiugov

Thanks for the pointers.

Luckily, sometime during last week, i could get the istio to be working on its own (perhaps i got lucky in getting the images downloaded). And since then, i believe as the images are already downloaded, it is working fine. I am just making sure that the system is up and running continuously since then.

In future, if i have to set up another system, and face

[2022-02-24 04:15] #475 closed

[2022-03-04 22:14] rjclemens opened #492 "Kubelet "isn't running or healthy." for single node setup"
**Describe the bug**
Kubelet "isn't running or healthy." when trying to run the single node cluster script.

**To Reproduce**
Follow step (II) section 1: "Setup all nodes", then follow step (III):  Setup a Single-Node Cluster; getting Kubelet errors on part 6, running the single node cluster script.

**Expected behavior**
Expected the script to execute successfully without errors

**Logs**
`
[kube

[2022-03-09 14:41] dhuang-esl opened #498 "Nothing generated from vHive profiling tool"
**Describe the bug**
I run the vHive profiling tool following [this tutorial](https://github.com/ease-lab/vhive/blob/pmu_tutorial_session/docs/profiling.md#pre-requisites). However the profile.csv is not generated. I think the profiling step has been skipped somehow. Please refer to the following log section.

**To Reproduce**
On a Cloudlab node:
[code]

**Logs**
[code]

**Solution**
Line 137 of `

[2022-03-09 18:52] ustiugov commented on #492
@rjclemens thank you for the detailed issue. Could you please specify:
- on which node you ran it (hardware, host OS)
- is it a sporadic error? does it reproduce?

[2022-03-13 09:21] Pavi114 opened #499 "Function Deploy Error: Failed to prepare extraction snapshot"
### Bug Description
When the deployer is run with pyaes.yaml as the function config the following error is encountered in vHive logs

[code]

[code]

### To reproduce
[code]
### Notes
Running on Ubuntu 18

[2022-03-14 15:53] ustiugov commented on #492
@rjclemens is the issue still relevant?

[2022-03-14 23:48] rjclemens commented on #492
Hi, sorry, this issue is no longer relevant, we were able to get it running. Thank you!

[2022-03-14 23:48] #492 closed

[2022-03-18 18:09] catchabhisek opened #504 "Function Deployment Failed: helloworld:var_workload pull failed"
Hi,

I am trying to run the deployer script after Vhive installation, However, the helloworld pod is getting CreateContainerError. While further troubleshooting the issue, I have found that it is unable to pull https://ghcr.io/v2/ease-lab/helloworld/manifests/var_workload. Yet, I was able to create a pod with that image. I am attaching the kubectl describe pods result below. Would you please help

[2022-03-19 07:35] Pavi114 commented on #504
I am able to pull the image but deployment still fails. I get an error while creating a container with firecracker.

[code]

[2022-03-20 06:57] catchabhisek commented on #504
I have seen that the default domain pods are going to error state:

W0320 06:44:07.317827       1 client_config.go:615] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
{"level":"fatal","ts":1647758657.4416451,"logger":"fallback.default-domain","caller":"default-domain/main.go:222","msg":"Error updating ConfigMap","error":"Internal error occurred:

[2022-03-21 08:10] catchabhisek commented on #504
I have removed the webhook, then the deployer script worked fine. However, the pod is getting deleted after the creation:

Mar 21 08:00:48 awsum kubelet[16628]: E0321 08:00:48.661606   16628 kuberuntime_manager.go:829] container &Container{Name:user-container,Image:crccheck/hello-world:latest,Command:[],Args:[],WorkingDir:,Ports:[]ContainerPort{ContainerPort{Name:user-port,HostPort:0,ContainerPort

[2022-03-21 09:30] catchabhisek commented on #504
Restart of the machine, resolved the above issue. I have encountered that the pod gets deleted automatically, there is no error in vhive logs. Can anyone please help me with it:

Name:           helloworld-0-00001-deployment-ddf67d98d
Namespace:      default
Selector:       pod-template-hash=ddf67d98d,serving.knative.dev/revisionUID=96a460e9-6e4f-40f0-b466-d84ff8bedb8d
Labels:         app=hellowor

[2022-03-21 12:00] catchabhisek commented on #476
@niravnshah, I am facing the issue while invoking the sample examples behind a proxy. You said that you have solved it by adding ".sslip.io" to no_proxy environment variable. I tried that out but it didn't work for me. May I know if you have updated the kubelet  or containerd service unit file with this environment variable?

Currently, this is the deployment status and output of invoker script:

[2022-03-24 11:06] ustiugov commented on #504
hi @catchabhisek, sorry for the late response. can you please specify the host's specs, the steps to reproduce, and all necessary logs as specified in our GitHub Issue's template.

[2022-04-04 11:19] CodingYuanLiu opened #513 "Find only 3 script files in kind container ` vhiveease/vhive_dev_env`"
Hi!!
I'm trying to use kind to deploy a vHive cluster. The reference is this [doc](https://github.com/ease-lab/vhive/blob/main/docs/developers_guide.md#deploying-single-node-container-environment).
After running the following commands, I find that there are only 3 files in the `script` dir:
[code]
The result:
[code]
And there is no `/scripts/cluster/create_one_node_cluster.sh stock-only` that I ca

[2022-04-04 11:22] ustiugov commented on #513
Shyam, I believe you update the images recently. Could you please take a look?

[2022-04-08 22:59] juno-kim opened #515 "Facing error while trying to use vhive as Go module"
I'm trying to use vhive as a Go module in a separate Go program but facing the following error.

go: finding module for package github.com/ease-lab/vhive
go: downloading github.com/ease-lab/vhive v1.4.1
go: found github.com/ease-lab/vhive in github.com/ease-lab/vhive v1.4.1
go: github.com/ease-lab/vhive@v1.4.1 requires
        github.com/ease-lab/vhive/examples/protobuf/helloworld@v0.0.0-000101010

[2022-04-15 20:30] ustiugov commented on #513
sorry for the delay, there has been quite a lot of travelling lately. We are going to check and fix it. In the meantime, please use `git clone` from inside kind.

[2022-04-15 20:30] ustiugov commented on #504
@catchabhisek is it still relevant? please close otherwise

[2022-04-15 20:41] ustiugov commented on #515
Hi @juno-kim, I apologize for the delay. We haven't really developed vHive to be a Go module. For simplicity, we use `replace` pragmas in `go.mod` files in few places.

Could you please describe your use case for using vHive as a module? We can discuss code improvements

[2022-04-16 11:40] #504 closed

[2022-04-16 11:40] catchabhisek commented on #504
Hi, It seems there was an issue with proxy in the system. Resolved it.

[2022-04-17 00:22] juno-kim commented on #515
Some of the vHive features seems useful so I just wanted to reuse them in a separate go program. I think I can work around this problem with replace pragmas as well. Thanks for the answer.

[2022-04-17 00:26] juno-kim opened #519 "make protobuf fails"
I'm facing this error whenever I run  `make protobuf`.

[code]

I assume this is due to the `protoc-gen-go` version problem (or the versions of some related programs). Can you specify which version of `protoc-gen-go` did you use to generate proto/orchestrator.pb.go? Thanks in advance!

[2022-04-17 00:46] juno-kim commented on #519
Never mind. I solved the issue by using an older version of protoc-gen-go.

[2022-04-17 00:46] #519 closed

[2022-04-17 12:02] ustiugov commented on #515
no problem, closing the issue.

[2022-04-17 12:02] #515 closed

[2022-04-26 00:10] juno-kim opened #523 "Can't kill the task loaded from snapshot"
I'm facing an error when I run the following test case. The code is modified from `ctriface/iface_test.go` to test LoadSnapshot feature.

[code]

Below is the result.

[code]

During the call to `orch.StopActiveVMs()`, it returns `ERRO[2022-04-26T00:04:14.799843441Z] Failed to kill the task                       error="ttrpc: closed: unknown" vmID=4`, which blocks cleaning up all other resources l

[2022-04-26 11:15] ustiugov commented on #523
@juno-kim this is an intended simplification and the artifact of the limited snapshot support in firecracker-containerd, which we developed. We didn't find a way to suppress these messages but the VM is forcibly killed so there is no need for graceful shutdown of the in-guest resources (a container, task). Tap device is recreated by the tapManager component so no host resources remain taken.

Henc

[2022-04-26 16:43] juno-kim commented on #523
Thanks for the answer. This clarifies my understanding. Let me close the issue.

[2022-04-26 16:43] #523 closed

[2022-04-27 12:38] XieGuochao opened #524 "Cannot deploy functions on single node cluster: RevisionMissing"
**Describe the bug**
I use `scripts/cloudlab/start_onenode_vhive_cluster.sh` to create a single node cluster on a QEMU-KVM VM with a fresh Ubuntu 20.04 image. The setup is done and the knative is up. However, when I try to deploy hello-world or other functions, the deployer hangs forever and knative reports `RevisionMissing : Configuration "helloworld-0" is waiting for a Revision to become ready.`

[2022-04-27 14:14] XieGuochao opened #525 "Cannot deploy functions on single node cluster: RevisionMissing"
**Describe the bug**
I use `scripts/cloudlab/start_onenode_vhive_cluster.sh` to create a single node cluster on a QEMU-KVM VM with a fresh Ubuntu 20.04 image. The setup is done and the knative is up. However, when I try to deploy hello-world or other functions, the deployer hangs forever and knative reports `RevisionMissing : Configuration "helloworld-0" is waiting for a Revision to become ready.`

[2022-04-27 14:19] ustiugov commented on #525
the cluster is likely to be in a corrupted state after deploying wrong certificated. Please clean up the cluster with `./scripts/github_runner/clean_cri_runner.sh` and follow the quickstart guide again.

[2022-04-27 14:35] XieGuochao commented on #525
Clean up with `./scripts/github_runner/clean_cri_runner.sh` does not help. This still occurs: `level=error msg="failed to create VM" error="failed to dial the VM over vsock: non-temporary vsock dial failure: failed to dial \"firecracker.vsock\" within 100ms: dial unix firecracker.vsock: connect: connection refused" runtime=aws.firecracker vmID=48`

[2022-04-27 15:21] ustiugov commented on #525
The problem is that the cluster is not up because vhive fails to connect to the firecracker-containerd daemon. How do you re-set up the cluster after you run the cleanup script?

[2022-04-27 15:23] ustiugov commented on #525
No I am wrong, it's not that. Could you please specify the commands you run and attach the new logs?

[2022-04-27 15:28] ustiugov commented on #525
Please make sure you follow these exact commands from the [guide](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#iii-setup-a-single-node-cluster). These are not the commands you seem to use as described in the Issue's description.

[2022-04-27 15:38] XieGuochao commented on #525
I'm still using the following script (In [guide 3. Using a Script](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#3-using-a-script)):
[code]

`ctrd.err`:
[code]

`fccd.err`:
[code]

`orch.out`:
[code]

[2022-04-27 15:55] ustiugov commented on #525
do I understand correct that you run `export GITHUB_VHIVE_ARGS="[-dbg] [-snapshots] [-upf]"` exactly? the `[xx]` notation means that each argument is square brackets is optional, so any of the following commands are valid:
[code]

what exactly are you running?

[2022-04-27 16:13] XieGuochao commented on #525
Oh I mistakenly copied the export from the guide.
However, I repeat the test with
[code]
and
[code]
The same issue happens.

[2022-04-27 16:17] ustiugov commented on #525
what is the host ISA? is there VT-x support in your VM?

[2022-04-27 16:32] XieGuochao commented on #525
The host is a PowerEdge C6320 with CPU: Intel Xeon E5-2680 v3 (48) @ 3. My VM is booted with `-cpu host` and `enable-kvm`,  and the `/proc/cpuinfo` inside the VM shows 24 processors (disabling hyper-threading) of `Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz` with `vmx` flags, so VT-x should be enabled.

[2022-04-27 16:35] ustiugov commented on #525
[To check VT-x](https://github.com/firecracker-microvm/firecracker/blob/main/docs/getting-started.md#appendix-a-setting-up-kvm-access)

[2022-04-27 17:13] XieGuochao commented on #525
I granted read and write access of `/dev/kvm` to all users and it still doesn't work. One point I have to say is that I checkout to the v1.4.1 tag, the latest release tag, to avoid issues of in-progress development.

[2022-04-27 17:25] ustiugov commented on #525
in vHive, we don't provide any stability guarantees except for the main tip commit. try running on the tip

[2022-04-27 18:04] XieGuochao commented on #525
Tried running on the tip but still the same issue

[2022-04-27 18:07] ustiugov commented on #525
seems that the Firecracker process fails to start. @amohoste do you remember how to access Firecracker logs? I think they are in the `/tmp` folder

[2022-04-27 19:28] XieGuochao commented on #525
Is there a minimum or suggested kernel version for vHive? I notice that the default kernel of Ubuntu 20.04 is 5.4, while the minimum for [firecracker](https://github.com/firecracker-microvm/firecracker/blob/main/docs/kernel-policy.md) is 5.10.

[2022-04-27 19:31] ustiugov commented on #525
We only support host OS Ubuntu 20 with the default kernel and guest OS with 4.14.

[2022-04-28 17:52] amohoste commented on #525
By default, firecracker logs are written to stdout and stderr. When deploying using to the [instructions](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#2-setup-worker-nodes) in the quick start guide, they should be available at /tmp/vhive-logs/firecracker.stdout and /tmp/vhive-logs/firecracker.stderr

[2022-05-16 10:23] ustiugov commented on #525
@XieGuochao is the issue still relevant?

[2022-05-16 10:24] ustiugov commented on #513
@shyamjesal is it fixed in the updated runners?

[2022-05-16 10:24] ustiugov commented on #499
@Pavi114 is the issue still relevant?

[2022-05-16 10:25] ustiugov commented on #339
closing, as we migrated tracing to the vSwarm repo

[2022-05-16 10:25] #339 closed

[2022-05-16 10:26] ustiugov commented on #315
fixed in vSwarm.

[2022-05-16 10:26] #315 closed

[2022-05-16 10:26] ustiugov commented on #297
closing due to its low priority

[2022-05-16 10:26] #297 closed

[2022-05-16 10:27] #48 closed

[2022-05-16 10:28] #41 closed

[2022-05-16 10:28] ustiugov commented on #226
@dhschall

[2022-05-16 10:29] #11 closed

[2022-05-16 10:29] XieGuochao commented on #525
Running inside the Ubutnu 20.04 fresh VM still now works, but running directly on the host works.

[2022-05-16 10:31] ustiugov commented on #525
@XieGuochao please close the issue if it is not relevant to you anymore or provide more logs.

[2022-05-16 10:44] #525 closed

[2022-05-16 12:18] #499 closed

[2022-05-16 15:22] shyamjesal commented on #513
`create_one_node_cluster.sh` is not expected in the container as it is not required in container setup. When we run the tests we clone the repo inside the container and use the script from there.

[2022-05-16 15:23] #513 closed

[2022-05-19 12:32] aditya2803 opened #539 "Deployment of Functions in vHive failing"
**Description**

I am trying to set up vHive on a single node cluster, and get it working by deploying and then invoking the functions, as described in the guide [here](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#iii-setup-a-single-node-cluster). I am able to follow through the steps manually, and all the kubernetes pods are running as desired. However, when deploying func

[2022-05-20 11:33] aditya2803 commented on #476
@catchabhisek Were you able to fix the issue ? I am stuck in a similar position

[2022-05-20 14:12] ustiugov commented on #476
@aditya2803 the proxy problem should be solved with this #481. Before it's merged, you can apply this fix locally in your code.

[2022-05-20 14:23] ustiugov commented on #539
hi @aditya2803, indeed vHive didn't have the firecracker-containerd folks' fix. We are about to merge a new version vHive/Firecracker snapshots with this #465. The code in that PR does have more recent firecracker-containerd binary, which is already tested but the docs are not updated. You can use that branch before the PR is merged

[2022-05-20 17:23] aditya2803 commented on #476
Hi @ustiugov, I got the deployer problem fixed by the above solution. However, my problem is now with the invoker function. The output of the invoker function looks like below:

[code]
I am running vHive in the stock-only mode for now. And all services, routes, deployments, revisions and pods are running as expected.
Any idea about this ?

[2022-05-20 18:48] aditya2803 commented on #539
Hi @ustiugov thanks for your suggestion. I cloned the PR branch and rebuilt the stack. However, the functions are still not getting deployed properly. Below is the error I get:
[code]
Output of `kubectl describe revision/helloworld-0-00001`
[code]
Note that I am using the #481 fix in my local code, as suggested by you.

Another observation is that running the script with the 'stock-only' option re

[2022-05-21 11:29] ustiugov commented on #539
@aditya2803 I cannot say much without lower-level logs in the firecracker setup (vHive, containerd, firecracker-containerd). The vhive CRI test worked in that branch. Try deploying a new cluster on a fresh node

also, the YAML of the workloads do not suit the stock-only setup. You need to use YAML files in a conventional Knative format (you can take them from their website).

[2022-05-21 12:56] aditya2803 commented on #539
@ustiugov Here are the logs:

**vhive.stdout logs**

[code]

**containerd.stderr logs**
[code]

**firecracker.stderr logs**
[code]

[2022-05-21 13:14] ustiugov commented on #539
the logs don't show any problems. what does `kubectl get pods` show? please reproduce the issue with just helloworld function

[2022-05-21 13:51] aditya2803 commented on #539
Hi @ustiugov, the output of `kubectl get pods` is `No resources found in default namespace.`

The output of `kubectl get pods -A` is:
[code]

[2022-05-21 13:54] ustiugov commented on #539
`kubectl get pods -A ` shows no deployed functions.

[2022-05-21 13:58] aditya2803 commented on #539
Yes, I presume that's because of no ready revisions. But I am not sure about why that it happening.

Output of `kn services list`:
[code]
Output of `kubectl get revisions`
[code]
Output of `kubectl describe revision/helloworld-0-00001`
[code]

[2022-05-21 14:05] ustiugov commented on #539
after you started using the other branch, have you started with a new clean node or kept using the old one?

[2022-05-21 14:08] aditya2803 commented on #539
I have been using the old node. But I have cleared all previous files (starting with an empty filesystem), and cloned the new branch, then started the process.

[2022-05-21 14:41] ustiugov commented on #539
I suggest using a fresh node

[2022-05-21 16:27] aditya2803 commented on #539
Sure, I'll try that. That may take a few days however. Do you propose any way to clean up the current node in a way to use it for the fresh branch ?

[2022-05-22 07:52] aditya2803 commented on #539
Hi @ustiugov, I tried using a fresh AWS ec2 instance running AMD and Ubuntu 20.04 for this. I used the new branch (#465) and also applied the change of (#481) locally. However, I ran into the exactly the same issue once again (same output for `kubectl get pods`, `kubectl get revisions` etc).

**vhive.stdout**
[code]

**firecracker.stderr**
[code]

Let me know if you observe something, or need more

[2022-05-23 17:09] aditya2803 commented on #539
Hi @ustiugov, I managed to get the problem fixed by setting up on a new machine, and by enabling KVM, and ensuring that [this](https://github.com/firecracker-microvm/firecracker-containerd/blob/main/docs/getting-started.md#prerequisites) script worked okay.

The functions are now getting deployed properly now. However, I am having an issue with the istio set-up. This is similar to #475.

[code]

O

[2022-05-23 17:22] ustiugov commented on #539
@aditya2803 ok, pre-requisites is a good catch. I don't quite get how functions can be deployed properly without istio installation being successful. Can you collect a complete log of the bash scripts that set up the cluster?

[2022-05-23 17:38] aditya2803 commented on #539
Here it is:
[code]
Also, for my understanding, isn't Istio just used for serving the function endpoints ? Isn't the deployment of the functions independent of it ? I understand why function invocation won't work without it, but not clear about the deploying part.

[2022-05-23 17:41] ustiugov commented on #539
Debugging function deployment in a failed knative cluster is not a good strategy. Let us focus on Istio first.

Please provide `/tmp/vhive-logs/setup_worker_kubelet.*` and `/tmp/vhive-logs/create_singlenode_cluster.*`.

[2022-05-23 17:50] aditya2803 commented on #539
Sure. I tried running the cleanup and again starting the cluster a couple of times, so the logs are appended with that. Sorry about it.

`/tmp/vhive-logs/setup_worker_kubelet.stdout` logs
[code]
`/tmp/vhive-logs/setup_worker_kubelet.stderr` logs
[code]
`/tmp/vhive-logs/create_singlenode_cluster.stdout` logs
[code]
`/tmp/vhive-logs/create_singlenode_cluster.stderr` logs
[code]

[2022-05-23 18:04] ustiugov commented on #539
I suggest to clean up the node again with `./scripts/github_runner/clean_cri_runner.sh` and delete the logs. Then, try to run the setup script again and see if Istio gets installed. If not, this is some issue with the node setup, which is not vHive-specific and probably should be reported to Knative and/or Istio maintainers.

Please crop the logs in future and attach full logs as files if necessar

[2022-05-23 18:18] aditya2803 commented on #539
Hi @ustiugov, apologies for the full log files, I'll keep it in mind next time onward.

After running the clean* script, and redeploying the cluster, istio suddenly was deployed perfectly :) I did try this a few hours earlier, but somehow did not work that time. Anyways, all pods are running okay now.

Also, functions are getting deployed and invoked normally now, and I am getting the final output

[2022-05-23 18:25] ustiugov commented on #539
@aditya2803 glad to hear! we always welcome improvements from the community 👍 please close the Issue if it's resolved

[2022-05-26 16:27] aditya2803 opened #542 "Deploying New Functions in vHive"
**Problem Description**
I was trying to deploy new functions to vHive. For this, I first created a new Docker Image, and then pushed it to my personal Github Container Registry. The Registry is Public and I get an image URL similar to the one being used in the `examples` folder. I then used this URL to create a new yaml file, identical to the ones provided in `cofigs/knative_workloads/`. Finally,

[2022-05-26 16:55] aditya2803 commented on #542
@ustiugov Kindly let me know if I am doing this correctly.

[2022-05-27 09:03] ustiugov commented on #542
@aditya2803 can you also share the source code of the function?

[2022-05-27 10:01] aditya2803 commented on #542
Hi @ustiugov I have attached the source files (2 .py files and 1 Dockerfile, all attatched as text files here)

The deployer just times out while deploying the function.
[code]
`kubectl describe pod linpack-0-00001-deployment-6b7bb7fdc9-2jxc7`
[code]
`kubectl describe revision/linpack-0-00001`
[code]
[linpack_native.py.txt](https://github.com/ease-lab/vhive/files/8785636/linpack_native.py.txt)
[ru

[2022-05-28 06:36] aditya2803 commented on #542
Hi @ustiugov, I noticed that apart from the code files, the image folders of the sample functions also have grpc files, amongst others. Is it necessary to follow the same convention of creating files & writing application code when creating new functions ? Or will any regular Docker image do ? If no, then could you please let me know the steps to create a new function/ point to any doc with that i

[2022-05-31 07:56] lolo-pop opened #543 "go build failed"
**Describe the bug**
I am trying to build the vhive environment based on "[Setup a Single-Node Cluster](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#iii-setup-a-single-node-cluster)". I get an error "unknown revision 6af02db30bc4" when I download the package "github.com/ease-lab/firecracker-containerd@v0.0.0-20210618165033-6af02db30bc4". All other go packages can be downloa

[2022-06-03 16:25] ustiugov commented on #543
@lolo-pop thank you for reporting the issue. I cannot reproduce this issue in our CI [run](https://github.com/ease-lab/vhive/runs/6729088795?check_suite_focus=true), which indicates that your Golang installation might got corrupted. Try reinstalling Go.

[2022-06-06 07:49] aditya2803 commented on #542
@ustiugov thanks for your reply. I figured out the issue was because gvisor requires a Python version >= 3.6, and the base docker image I was using in the Dockerfile was using python 3.5. I fixed it by using a newer base image.

Closing this now.

[2022-06-06 07:49] #542 closed

[2022-06-06 15:53] ustiugov commented on #542
@aditya2803 thank you for reporting back!

[2022-06-07 10:53] ustiugov opened #557 "CRI tests fail on our self-hosted CI"
**Describe the bug**

Seems that Istio installation is the problem. However, @cvetkovic checked that the vHive cluster installation works on bare metal.

**Logs**
[code]
Full logs are [here](https://github.com/ease-lab/vhive/runs/6772339324?check_suite_focus=true#step:9:237).

We should fix this after the submission deadline next week.

[2022-07-05 20:43] DanielLee343 opened #567 "Deployment shows RevisionMissing"
**Describe the bug**
I followed the single-node setup steps in [quickstart guide](https://github.com/ease-lab/vhive/blob/main/docs/quickstart_guide.md#iii-setup-a-single-node-cluster) but encountered this problem. It's similar to issue #525 but going through it didn't help on my side.

**To Reproduce**
I'm deploying on a bare metal EC2 instance with Ubuntu 20.04, install and setup:
[code]
kubectl

[2022-07-06 21:07] DanielLee343 commented on #567
I just noticed if you launch a normal EC2 it does not support KVM, since Intel processor only supports single-level virtualization (means you cannot launch VM inside VM). One can, however, launch a bare metal EC2 that supports KVM, but it's costly (4$/h). I'll close this issue since it's related to hardware.

To check if the node supports KVM, check [this](https://phoenixnap.com/kb/ubuntu-install-

[2022-07-06 21:07] #567 closed

[2022-07-09 07:32] aditya2803 opened #568 "Deployment of functions failing while using PR 465"
**Describe the bug**
I followed the steps to set up vHive using #465 as the base. All pods are running as expected. However, the deployment of functions is failing.

EDIT: I tried using the main branch of the repo, but ended up getting the same issue.

**To Reproduce**
Follow steps in the quick-start guide to set up vHive, using #465 as the base branch. Then, try to deploy the functions using `sou

[2022-07-10 06:40] aditya2803 commented on #568
Hi @ustiugov, could you check this once ?

[2022-07-14 10:25] aditya2803 commented on #568
Issue got resolved after installation on a fresh disk. Some issue with the old disk perhaps. Closing the issue.

[2022-07-14 10:25] #568 closed

[2022-07-27 21:49] DanielLee343 opened #579 "Snapshots Issue - Cannot Serve More Than 10 Concurrent Functions"
Hi, I have several questions related to snapshotting. I am running one of the `TestBenchParallelServe` tests in `vhive/Makefile` on a single node setup.
[code]
If I'm correct, this script will spawn `parallelNum` concurrent (and same) functions, in my case, `helloworld`, with both snapshots and REAP enabled. However, the maximum `parallelNum` it supports is only **10** on my machine. When getting

[2022-08-07 12:44] ustiugov commented on #579
@DanielLee343 thanks for raising the Issue (converting it to a Discussion). The timeout is most likely related to the underlying disk (/fccd/snapshots) being too slow. We recommend using a node with an SSD. Alternatively, you can increase the timeout value in the code.

Regarding remote storage of snapshots, this mode is not fully supported yet. However, #465 adds everything necessary to enable th

[2022-08-08 21:29] DanielLee343 commented on #579
@ustiugov @amohoste Thanks for the response! I checked out to new_snapshots branch, but when I run the following test in `vhive/ctriface/Makfile`, it fails with VM already exists
[code]
[code]
Running `scripts/clean_fcctr.sh` or `scripts/github_runner/clean_cri_runner.sh` didn't help.
Note that the first time running `TestParallelSnapLoad` works but any tests there after failed, so I guess the mic

[2022-08-09 08:56] ustiugov commented on #579
@DanielLee343 could you check if the paths to the sockets mentioned in the log actually exist? we might have forgotten to add their deletion in the cleaning scripts you mentioned. If that's the case, could you submit a PR with a fix to that branch?

[2022-08-17 08:24] ustiugov commented on #579
@DanielLee343 is the issue still relevant? if not, please close.

[2022-08-17 08:25] ustiugov commented on #543
Closing it as there hasn't been any activity.

[2022-08-17 08:25] #543 closed

[2022-08-17 17:40] #579 closed

[2022-08-22 06:38] adayaru commented on #223
I tried rebuilding this recently - since I made changes in my copy of server.py to help with my use-case.
I see errors in Docker build about untrusted signature with these lines:
[code]
Eventually this too gives errors:
`    apk add --allow-untrusted --repository http://dl-3.alpinelinux.org/alpine/edge/testing hdf5 hdf5-dev && \
`
I tried rebuilding the base image (tatsushid/alpine-py3-tensorflow-

[2022-08-29 11:20] ustiugov commented on #223
@adayaru  I suggest re-doing this image atop of `python-slim` instead of Alpine, as it is much easier to get right and maintain in a long term. We don't plan this work as of now so your contribution is more than welcome.

[2022-08-30 13:43] ustiugov commented on #68
Currently, container and gVisor based sandboxes support function deployment in the same canonical format:
[code]

However, due to the workaround we have in Knative fork used by vHive, the format of function deployed in Firecracker needs to be different:
[code]

Please note that vSwarm benchmark YAMLs are written in the canonical format and need to be modified to be used with Firecracker ([Issue](h

[2022-08-31 13:19] ustiugov opened #591 "Setup-master script applies manifests of the wrong Knative version"
`scripts/cluster/setup_master.sh` is supposed to apply the manifests from Knative 1.4 but in fact applies 1.3. It is a bug, which surprisingly didn't break anything.

[2022-08-31 14:39] #591 closed

[2022-09-01 09:08] cvetkovic opened #593 "Firecracker image pulling"
Firecracker image pulling with the `latest` tag does not work. Once the image is pulled for the first time with some tag, it stays cached until the system is running. I think that image-pulling functionality should mimic the semantics of a system like [Kubernetes](https://kubernetes.io/docs/concepts/containers/images/). Currently, the workaround for this is to change the tag for the image each tim

[2022-09-05 06:59] jingren1021 opened #595 "Failed to invoke RNN serving in 2-node cluster"
I have created a 2-node cluster on 2 bare metal ubuntu 20.04 server and tried invoking functions following quickstart guide.
I came across this error

[code]

Although I did get some errors regarding the installation of Istio-Ingress-Gateway, kubernetes pods and services appeared to be running without errors.
[code]

Log when configuring master node.
[code]

Any help would be greatly appreciated.

[2022-09-05 10:18] ustiugov commented on #595
@jingren1021 thank you for reporting the problem. It seems that Istio setup didn't complete successfully but function deployment worked for some of the functions although there was an error when configuring the HPA autoscaler. @cvetkovic have you noticed any of these Istio errors?

could you try deploying RNN function manually with `kn` (see the deployer.go code) and report its output? it is possi

[2022-09-05 12:15] cvetkovic commented on #595
I have just tried to set up a new cluster on xl170 Cloudlab machines and have not managed to reproduce any issues. Istio deploys without any problems.

What I can suggest in case these errors persist on your machine, is that you can try (re)deploying Istio manually by running `istioctl install -y -f $ISTIO_CONFIG_FILE`. The configuration file can be found in the `$VHIVE_ROOT/configs/istio/istio-mi

[2022-09-05 13:04] ustiugov commented on #595
@cvetkovic thank you. @jingren1021 please re-open if the issue persists

[2022-09-05 13:04] #595 closed

[2022-09-14 08:53] jingren1021 commented on #595
Thank you for your help.

I just realized that Kubernetes v1.25 was installed on my machine and it conflicted with the vhive setup_node.sh file and caused istiod to be unable to install successfully. After a fresh install of Ubuntu 20.04 on my machine, Istiod is installed properly and working.

However, the issue of rnn-serving failing to invoke persists.

I tried manually deploying rnn-serving on

[2022-09-14 12:01] niravnshah commented on #498
Along with line 137, we also need to comment out line 89 in perf_bench_test.go

[2022-09-14 13:39] niravnshah commented on #498
Some additional information. May be helpful for this issue.
I tried to run `make test` and after showing many tests to be passing, i get following output towards the end.
[code]
This is also failing with similar error message that profile.csv is not found.
apart from this, it is also showing this error.
[code]
Do we need to be running a k8s cluster to be able to run profiling tool?

I tried to hav

[2022-09-16 08:33] cvetkovic commented on #595
Are you using vHive with Firecracker or with regular containers? `rnn-serving` YAML file assumes Firecracker, which is currently not compatible with containers.

Additionally, try increasing the timeout period in the invoker.

[2022-10-05 20:36] aditya2803 opened #604 "Invocation bugs creeping up at high request rates"
**Describe the bug**
I am running a multi-node cluster (Master + 2 Worker nodes), with vHive running on this cluster. When I deploy a short running function (execution time ~ 0.9 ms), using just the compute resource, at very high request rates (~250 ips), I see a lot of errors coming up. They look like: "Failed to invoke linpack-0.default.192.168.1.240.sslip.io:80, err=rpc error: code = Unavailabl

[2022-10-06 13:11] EstellaPaula opened #606 "Bug with setup script: unsuccessful instalation of "kubeadm""
**What I did:**
When running the command from quickstart guide, step II.4.1, I noticed that the command **"kubeadm"** throws "command not found" prompt. To double check, I searched with "where" command to see if the binary of "kubeadm" can be found, but it seemed that the command was not installed at all. I then installed "kubeadm" command manually using the instructions from [here](http://pwittro

[2022-10-31 17:32] ICantCodeForAnything opened #630 "Getting a "Bad Gateway: HTTP Status Code 502" error when attempting to call the functions via the invoker"
**Describe the bug**
When running the command
`pushd ./examples/invoker && go build && popd && ./examples/invoker/invoker`
as specified in the quick start guide, I get a 502 error
[code]

**To Reproduce**
I followed the developer guide for stock containers only:

[code]

Then deployed the function using:
`source /etc/profile && pushd ./examples/deployer && go build && popd && ./examples/deployer/d

[2022-10-31 17:44] ustiugov commented on #630
the problem is likely to the fact that you are trying to deploy functions in the container-based env but using the YAML files for the firecracker setup. the format is slightly different. This is the format you are looking for: https://github.com/knative/docs/tree/main/code-samples/serving/hello-world/helloworld-python#yaml

[2022-10-31 17:45] ustiugov commented on #630
you can also refer to this CI workflow as the ground truth: https://github.com/vhive-serverless/vHive/blob/main/.github/workflows/cri_stock_containerd_test.yml

[2022-10-31 20:37] ICantCodeForAnything commented on #630
Indeed that was the case. Using your CI workflow as an example, I did manage to create and invoke the function successfully. Thanks a lot

[2022-10-31 20:37] #630 closed

[2022-11-03 08:54] ustiugov commented on #606
@EstellaPaula is the problem still relevant or you found a fix?

[2022-11-03 20:01] EstellaPaula commented on #606
I have encountered a similar issue with "kubectl" not being installed in the same spot as described here. I suspect that it came from the same problem. I have been able to reproduce this issue only on multi node clusters where only some of the nodes exhibit this, if at all. I usually bypass it by reloading the node and redoing the steps from the quickstart guide, just to make sure everything is in

[2022-11-04 07:53] jingren1021 commented on #595
Thank you very much for your help. I apologise for this very late reply. I am using vHive with Firecracker and have tried increasing the timeout period in the invoker but the issue remains. I believe the issue lies within my hardware and would not seek further assistance. Thank you very much.

[2022-11-04 13:51] ustiugov commented on #606
@EstellaPaula thanks. I think we can close this Issue, seems like a sporadic one of a minor appeal...

@all re-open if it becomes a problem again.

[2022-11-04 13:51] #606 closed

[2022-11-10 07:38] niravnshah commented on #498
Hi @ustiugov, I am trying to get the vHive profiling tool working to get the function cold start delay numbers. Any help in getting this profiling tool working would be highly appreciated. Is it possible to look into this issue? Or if you can provide some pointers also would be helpful.

Thanks,
Nirav.

[2022-11-10 14:55] ustiugov commented on #498
@niravnshah sorry for the late response. k8s setup is not required for the profiler to run.

`Bridge could not be created                   bridge=br0` error indicates that you ran vHive repeatedly without cleaning the host setup after the previous run failed (and didn't delete the bridge because it died). You need to run the cleaning script as specified [here](https://github.com/vhive-serverless/

[2022-11-20 14:06] alexandrinapanfil opened #635 "Unable to setup vhive with gvisor"
**Describe the bug**
Trying to set up a single node vhive cluster with gvisor, however I keep getting an error log that the vhive cri sock is being already in use.
**To Reproduce**
on Cloudlab with [vhive-ubuntu20] profile, running a xl170 node;

`git clone https://github.com/vhive-serverless/vHive.git`
`cd vhive`
`./scripts/cloudlab/setup_node.sh gvisor`
`sudo screen containerd; sleep 5;`

in ano

[2022-11-21 17:39] ustiugov commented on #635
hi @alexandrinapanfil, is the machine clean, i.e., is it the first run of vhive? this error means that there is already a daemon that listens to this socket. please check and kill all `vhive` processes and delete this file before re-instantiating the cluster. If this doesn't help, start with a clean machine again.

[2022-11-28 16:53] DanielLee343 opened #639 "Unable to setup local registry"
**Describe the bug**
Im trying to setup the local registry using the given script `populate_registry.go`. Before that I've setup the local registry with the corresponding host addr. But the script shows `no such host` error.

**To Reproduce**
I use the following command to setup local registry
[code]
verify the registry container:
[code]
Run the `populate_registry.go`:
[code]
Even I tried to tag t

[2022-11-29 09:10] jingren1021 commented on #635
I got error as below while executing the same commands on a clean ubuntu server.

[code]

Any idea on how to fix this?

[2022-11-30 19:51] DanielLee343 opened #640 "Questions Regarding How LoadSnapshot Performs"
Hi,

I have some conceptual questions and hopefully can get some help here :-) I ran `TestSnapLoad()` that performs end-to-end snapshot saving and loading. I don't use the UPF feature. I noticed that somehow `LoadSnapshot()` and `ResumeVM()` both finish really fast. My `TestSnapLoad()` looks like:
![image](https://user-images.githubusercontent.com/30738558/204873321-a7572ff6-d4d9-48bf-a8ff-08b6e96